[2013-12-06 03:51] natea opened #1 "Create ADD TO PROFILE button"
## As per LinkedIn guidelines

All partners should leverage this branded button:

![image](https://f.cloud.github.com/assets/118984/1689651/07d49324-5e29-11e3-8a79-c11ca0908142.png)

It should live within the emails and be consistently used across the partners in the program. Each button will be associated with a specific certification, so in the case where there are multiple certifications receiv

[2014-12-12 18:45] pdpinch opened #2 "POC: "Notify users by email" does not send e-mail"
Testing on the MIT sandbox at https://sandbox2o.mitx.mit.edu/courses/MITx/POC101/3T2014/poc_coach

On the POC Coach Dashboard, when I batch enroll students and check the "Notify users by email" no e-mail is received.

[2014-12-12 18:52] pdpinch opened #3 "POC: "Auto Enroll" does not appear to Auto Enroll users in the POC"
Testing on the MIT sandbox at https://sandbox2o.mitx.mit.edu/courses/MITx/POC101/3T2014/poc_coach

On the POC Coach Dashboard, when I batch enroll students and check "Auto Enroll" I expect that users will be added to the "Student List Management" table on the right side of the dashboard, but they are not.

Perhaps this is because I am inviting e-mail addresses that do not yet have accounts?

[2014-12-12 19:51] #3 closed, assigned to nobody

[2014-12-16 21:10] #2 closed, assigned to nobody

[2014-12-17 16:17] pwilkins opened #4 "Invited students receive invalid link in registration email"
Story #2: As a Coach, I can invite students to join my POC.
As Coach, I invite a student by adding them to the Batch Enrollment textbox.  An email was sent but it contained a bad link.
![poc_reg_email](https://cloud.githubusercontent.com/assets/145821/5474280/14a8f1fc-85de-11e4-9a5e-6d4ec8b8fafb.png)

[2014-12-17 16:27] pwilkins opened #5 "Invited students don't appear in list nor is there an error"
Story #2: As a Coach, I can invite students to join my POC.
As Coach, invite unregistered student in "Student List Management".
Student isn't added to course, nor does the student appear in the "Student List", nor is there an error.

[2014-12-17 20:33] pwilkins opened #6 "all items are available to student without scheduling"
Story 20: As a student viewing a POC, I will see correct units and dates. (i.e. the ones chosen by my POC Coach)

Before a Coach schedules any items for the POC, that is, the POC schedule is empty, all items are visible to students.  I don't know what the spec'd behavior is, but certainly what the student sees and what the Coach thinks students see should be the same.

[2014-12-17 20:43] pwilkins opened #7 "POC dashboard: In Schedule tab, two textboxes for "Start Date""
Why are there two textboxes for "Start Date"?  Should the label be "Start and End Date"?

[2014-12-17 21:49] pwilkins opened #8 "setting items in Schedule tab broken"
Story 20 As a student viewing a POC, I will see correct units and dates. (i.e. the ones chosen by my POC Coach)

This doesn't work at all.  No change in the Schedule tab changes what the student sees.  The student sees all units regardless.

[2014-12-18 19:45] #1 closed, assigned to chrisrossi

[2014-12-18 20:58] pwilkins opened #9 "error message contains mispelling "non-existinent""
When adding a student that isn't registered, the error message says "Could not find a user with username or email address non-existinent user".  The correct spelling is non-existent.

[2014-12-18 21:09] pwilkins opened #10 "Courseware tab takes over a minute to load"
The Courseware tab in this course takes over a minute to load for user peter2.  I don't know the desired load time for this action but isn't less than a minute?

https://sandbox2o.mitx.mit.edu/courses/MITx/POC101/3T2014/courseware

[2014-12-18 21:28] #9 closed, assigned to nobody

[2014-12-19 06:09] #4 closed, assigned to bdero

[2014-12-19 15:18] pwilkins opened #11 "What are valid date formats for "Start Date"?"
How are dates entered as text validated?  If an invalid date format entered, what error is generated?  Does the error indicate that the date format is invalid?

[2014-12-19 21:14] pwilkins opened #12 "Students can be enrolled in POC who aren't enrolled in base course"
The proposal doc is vague about this so I thought I'd create an issue to resolve the question.  As Coach, I can enroll a student in a POC who isn't enrolled in the course through Instructor/Membership.  If that is intended behavior then all is as it should be.  If it isn't then the attempt should return an error.  In either case it would be helpful for the proposal to clarify the expected behavior

[2014-12-22 20:37] #12 closed, assigned to nobody

[2014-12-22 20:37] #11 closed, assigned to nobody

[2014-12-23 17:21] bdero opened #13 "Streamline production configuration"
Original line comment: https://github.com/jazkarta/edx-platform/commit/9c9799fdefaf8b86473b18793b77e032acd5fd0d#diff-a102f3c6918039ccbaed2831b7bd1280L399

Since the configuration for POCs is growing more complex, a block in aws.py that inserts the middleware/override providers when PERSONAL_ONLINE_COURSES is true (similar to how it's done with AUTH_USE_CAS) would be useful.

For example:
[code]

I

[2014-12-24 18:54] pwilkins opened #14 "Saving content in Schedule tab returns error"
Saving content in the Schedule tab returns an error.  The most likely Story to link this to is Story13.
![schedule-save-error](https://cloud.githubusercontent.com/assets/145821/5550437/db7ffe34-8b73-11e4-8b3c-351b95399ad6.png)
The backend error is:
[code]

[2014-12-30 16:57] pwilkins opened #15 "POC Gradebook doesn't display POC Dashboard tabs"
As POC Coach, when I select the POC Gradebook tab, the POC Dashboard tabs disappear. The URL is:
https://sandbox2o.mitx.mit.edu/courses/MITx/4.605x_2/3T2014/poc_gradebook

I'd expect some indication that I was still in the POC Dashboard, and which POC I was viewing the Gradebook for.

![poc_gradebook](https://cloud.githubusercontent.com/assets/145821/5580580/afae1132-901a-11e4-884a-6e5e6e72b0c1.pn

[2015-01-02 14:45] chrisrossi commented on #10
And just checked in something for that, as well.

[2015-01-02 15:13] chrisrossi commented on #13
Done.

[2015-01-05 06:17] cguardia commented on #7
Added widgets and some server side validation.

[2015-01-05 16:06] bdero commented on #10
The recent performance improvement commit (https://github.com/jazkarta/edx-platform/commit/10766ea249f312c6cb0e2cc991d54c2ca44fd9ae) reduced queries by about an order of magnitude:

Before:
SQL queries: 3005 (+2922) - 2.21 seconds

After:
SQL queries: 332 (+249) - .118 seconds

We're down to 9-10 seconds from ~18 seconds of total time per request for the POC102 courseware tab on the sandbox.

[2015-01-05 18:15] pwilkins commented on #7
The date validation should occur when the date picker closes.  Waiting until all changes on the tab are saved, coupled with the uninformative error message and the fact that an error on saving all changes also freezes the session, provides the Coach with too little information to correct their errors and no opportunity to change the dates without opening a new session.

[2015-01-05 18:24] pwilkins commented on #7
And while we're talking about date validation, why is this code used to validate the year?
[code]
The validation code is only supposed to ensure that the value entered conforms to a calendar day.  It shouldn't provide addition validation such as whether the year is too early or too late.

[2015-01-05 18:38] cewing opened #17 "'active' flag not set for POC enrollments"
When a person is enrolled in a POC, the `PocMembership` object is created with the `active` flag set to false.  This prevents the student from accessing resources they should be able to access.

This issue has blocked testing of a number of stories in github.  See the comments on story 2 in [iteration 2 from ScrumDo](https://www.scrumdo.com/projects/project/poc7/iteration/115137#) for a bit of bac

[2015-01-05 19:37] cewing commented on #17
tl;dr:

I think I have the full scenario for this problem scouted out, except for a question about how to handle creating `PocMembership` objects when a non-user is enrolled in a POC and then registers for the site. See the very end of the following for the specifics of that question.

There are two possible scenarios here:

1.  The person being enrolled in the POC is already a registered user so

[2015-01-05 19:45] cewing commented on #17
To clarify, the final question is this:

Should we enhance the existing registration flow with a conditional that activates existing `PocMembership` objects when a new user activates their account **or** should we create a new registration flow that handles it entirely separately.

[2015-01-05 21:38] pdpinch commented on #17
I think we should add the conditional. We'll introduce less new code and our code will be closer to the core. I think it's easier to implement now & will be more robust down the line.

-Peter

----------------
I am mobile.

[2015-01-05 21:39] pdpinch commented on #17
Oh, and everything in case 1 sounds perfect.

----------------
I am mobile.

[2015-01-06 05:47] cewing commented on #17
I believe this is ready to be deployed and tested now.

You can "enroll" an existing user in a POC and they will gain access to it immediately.

You can "enroll" a non-existent user in a POC and when they register, after activating they will have access to the POC.

The UI around showing them whether they are viewing the POC or the MOOC is still not good.  That needs work, but now the enrollment s

[2015-01-06 06:39] cguardia commented on #7
I added validation for date and time right before the datepicker closes, so it will not be possible to save invalid dates. Also, the error messages are pretty clear in this case. Now that a proper client side date validation is in place, the upper year validation was removed from the Python code.

[2015-01-08 14:27] pdpinch commented on #14
I believe this has been addressed by changes to input validation. If there are any further issues with setting schedules, they should go into their own, more specific issues.

[2015-01-08 14:27] #14 closed

[2015-01-12 15:36] pdpinch commented on #15
@pwilkins Can you add this to the "Known Issues" document, and we'll revisit later?

[2015-01-12 15:37] #13 closed

[2015-01-12 19:15] pwilkins commented on #15
done.

[2015-01-12 21:20] pdpinch commented on #10
I'm satisfied at this point.

[2015-01-12 21:20] #10 closed

[2015-01-12 21:31] pdpinch commented on #17
This is functioning as expected now. I don't know the status of tests "for views and utilities that have changed to accommodate this approach" but I'm going to close this issue.

[2015-01-12 21:31] #17 closed

[2015-01-12 21:32] #8 closed

[2015-01-12 21:33] pdpinch commented on #7
The initial issue has been addressed. I'm closing this.

[2015-01-12 21:33] #7 closed

[2015-01-12 21:34] cewing commented on #17
thanks, tests are written.  sorry not to have tagged this issue when committing them. okay to close this.

[2015-01-14 00:47] pdpinch opened #18 "The tab “POC Coach” should only appear for users with a role of POC Coach"
The tab should appear for users who have been assigned the role of POC coach.

This is the same as [Scrumdo story #19](https://www.scrumdo.com/projects/story_permalink/844602)

[2015-01-14 00:59] pdpinch opened #19 "The same date and time picker should be used in the schedule grid and in the "Schedule a Unit" sidebar."
Ideally, we should use the same date and time picker that edX uses in Studio. However, the one currently in use for the schedule grid is fine and could be used everywhere if it is easier to implement at this point.

edX Studio picker (best):
![screen shot 2015-01-13 at 7 56 34 pm](https://cloud.githubusercontent.com/assets/430126/5732355/6bd34ec4-9b5e-11e4-9860-7e1080b21e8c.png)

Schedule grid pic

[2015-01-14 00:59] pwilkins opened #20 "selection tab: date/time validation error"
Date and time pickers on the POC Dashboard Schedule tab treat 0 (zero) as a valid date; they don’t return a date or time validation error.  Although the date displayed on the Schedule tab is 0, the new value is actually ignored and the previous date or time remains unchanged.  Entering zero as date should return a validation error.

[2015-01-14 01:05] pwilkins commented on #19
Can I add that it would be a better user experience if the same date picker widget was used in both places on the page where date entry is required?  Same for the time picker widget.

[2015-01-14 01:14] pdpinch opened #21 "Remove auto-enroll checkbox from enrollment tab of POC Coash Dashboard"
Since batch enrollment doesn't do anything useful unless auto-enroll is checked, we should just remove the checkbox altogether.

[2015-01-14 01:17] pwilkins opened #22 "Schedule tab: active start date is not displayed"
Adding new courseware in the POC Dashboard Schedule tab sets the release date/time to the date it was added to the POC Schedule, though this date/time is not displayed as the start date in the Schedule tab.  Some or all of this behavior is a bug.

[2015-01-14 01:18] pdpinch opened #23 "In the “Schedule a Unit” sidebar, the drop-down labels should be “Section,” “Subsection” and “Unit” to match the interface in Studio."
Not "Chapter", "Sequential", "Vertical"

[2015-01-14 01:19] pwilkins opened #24 "Schedule tab: intermittent error on save"
There is an intermittent problem when saving changes on the POC Dashboard Schedule tab.  Occasionally following clicking “Save changes”, an error message appears in the upper right. In some cases this error doesn’t faithfully report the success of the save.  Reload the page to clear the error. If your changes are still there after reloading, they were successfully saved.

[2015-01-14 01:56] pdpinch opened #25 "The POC Student should not see the Discussion tab"
Discussions in POCs raise a number of issues that we can't resolve right now. Easier to remove the tab.

[2015-01-14 02:17] pdpinch opened #26 "Any POCs that a student is enrolled in should appear in the student's dashboard"
i.e. at the /dashboard URL

Once this is implemented, we can remove the POC list from the user drop-down menu.

[2015-01-14 02:41] pdpinch opened #27 "There should be a user warning on the Grading Policy tab"

[2015-01-14 02:56] pdpinch commented on #15
I'm not sure if it addresses this issue, but edX (Beth Porter) has suggested that the gradebook might display on the Student Admin tab, instead of being a link away from it.

[2015-01-14 15:43] pwilkins commented on #15
I like her proposal.  That must be why she makes the big bucks.

[2015-01-14 19:40] pwilkins commented on #25
Removing the Discussion tab still allows Discussion components that exist in the courseware to create Posts and Questions, although without the Discussion tab, students are unable to view them.  **Decision:** It is the responsibility of the POC course team to communicate this problem to their students, or, remove those discussion items from the courseware.

[2015-01-14 20:14] cewing commented on #27
Checked in what I think is a pretty clear warning.  I used system warning styles I found in sass, so hopefully it's appropriate usage.

[2015-01-14 20:35] cewing commented on #25
As it turns out, the display of the "discussion" tab is controlled by the same code that is at issue in #18.  I believe, therefore, that we cannot resolve this issue without the same solution that is being pursued for that issue.

We just need to be able to interrogate the user in the context of the logic that chooses to display tabs.

[2015-01-14 21:24] pwilkins commented on #18
Just to clarify, I had assumed that this meant anyone viewing a course that contained a POC would see the POC Coach tab.  I misunderstood.  It means that ***every*** edX user of ***every*** course sees a POC Coach tab.

[2015-01-14 21:25] pdpinch commented on #18
Does the title change make it clearer?

[2015-01-14 21:27] pwilkins commented on #18
Much clearer!

[2015-01-14 21:30] pdpinch commented on #18
For reference, @chrisrossi discussed this on the edx-code list at https://groups.google.com/d/msg/edx-code/08V3Ni7NxlI/as7cKCjXkoMJ

There was some positive response to Chris's second option:

[2015-01-15 01:20] cewing commented on #26
This is a solid rough cut of this feature.  There's improvements that could be made, but it will do for now.  Ready for review.

[2015-01-15 05:59] cguardia commented on #23
This was fixed as part of the JS refactoring merged tonight.

[2015-01-15 06:01] cguardia commented on #19
This was fixed as part of the js refactoring merged tonight. The schedule UI now uses the same widgets in both places, though it's not the widget used in studio.

[2015-01-15 15:19] pwilkins opened #28 "A user may have only one student enrollment in a POC"
It is possible to enroll the same user in a POC more than once.  Once multiple enrollments for the same user are created, removing one throws a 500 error.
![zen-1729-01](https://cloud.githubusercontent.com/assets/145821/5760316/ae1d92b4-9ca1-11e4-9d60-099c3aba2c0a.png)

![zen-1729-02](https://cloud.githubusercontent.com/assets/145821/5760332/bc79c8aa-9ca1-11e4-95e0-21c165ee6417.png)

[2015-01-15 15:59] pwilkins commented on #24
This is the stack trace I believe is associated with the intermittent problem from the previous build.  I'm in the process of trying to reproduce the problem in today's build:

Traceback (most recent call last):

 File "/edx/app/edxapp/venvs/edxapp/local/lib/python2.7/site-packages/django/core/handlers/base.py", line 109, in get_response
   response = callback(request, *callback_args, **callback_k

[2015-01-15 19:19] pwilkins opened #29 "New POCs don't appear in the Dashboard"
When I create a new POC, I expect to find it in the Dashboard.  Currently, new POCs don't appear in the Dashboard, nor do all existing POCs.  I have a POC that appears in the dashboard of the user I use as a student, but not in the dashboard of the user who is the POC Coach.

[2015-01-15 19:26] cewing commented on #29
Should there be a visual distinction between POCs that appear because you are a student and those that appear because you are a coach?

[2015-01-15 20:08] pwilkins commented on #6
I can't recreate this behavior (although arguably I never could).  I'll close the issue.

[2015-01-15 20:08] #6 closed

[2015-01-15 20:20] pdpinch commented on #29
In my head, the POC coach enters via the MOOC and performs his POC management on the MOOC.

The POC coach would have to enroll himself in the POC in order to get the POC on his dashboard.

But maybe that only makes sense to me.

@ferdi can you weigh in on this?

[2015-01-15 20:26] pwilkins commented on #29
So the only reason that I see the Demo course POC is that I was enrolled as a student by default?  That goes a long way to resolve my confusion at what I am seeing in the Dashboard.

[2015-01-15 20:48] pwilkins commented on #27
The warning is acceptable.

[2015-01-15 20:48] #27 closed

[2015-01-15 20:52] #26 closed

[2015-01-15 22:10] pwilkins commented on #19
Between Firefox and Chrome, The widgets are more alike now than they were before.  Between Firefox and Safari the widgets appear the same.  Given the time constraint, this is acceptable for the time being.

[2015-01-15 22:10] #19 closed

[2015-01-15 22:16] pwilkins opened #30 "textbox date doesn't match widget date"
This is a nit and I assume that the validation will do its job, but this looks amateurish.  Is the year 2001 or 0001?

![chrome-time-picker](https://cloud.githubusercontent.com/assets/145821/5767904/f5b78cf0-9cd9-11e4-99a3-4e95ad08a2f2.png)

[2015-01-16 03:38] pdpinch opened #31 "POCs are now CCXs"
We've known for some time that POC wasn't a popular acronym -- because it collides with SPOCs and because it sounds bad no matter how you pronounce it -- but there's nothing like a beta to focus the marketing team. We now have a new name.

We need to change the UI and the code to reflect the new name, CCX or "Custom Courses for edX"

In the UI, this affects the coach tab, the student dashboard, an

[2015-01-16 19:26] cewing commented on #24
https://gist.github.com/pwilkins/7ad7b2e0edd980635753

[2015-01-16 22:02] pwilkins commented on #24
My bad.  Thank you for the correction, @cewing  :-)

[2015-01-16 22:29] cewing commented on #25
As @chrisrossi pointed out, the call signature for the `get_current_poc` method was misleading.  The active user is no longer required in order to get the current POC and so I have been able to fix this without the work needed for fixing #18.

This is now ready for testing.

[2015-01-16 22:45] cewing commented on #31
Do we need to change the name of the django app as well?  from `pocs` to `ccx` or something like that?  Or can we leave that unchanged?

[2015-01-16 22:52] cewing commented on #31
I see two options for renaming the models:

1.  Create a new set of migrations that add the newly named models, migrate existing data and delete the old models
2.  Edit the existing migrations to change the model names.

Option 1 is the only choice if there are deployed instances out in the wild that need to have data preserved.

Option 2 is only good if developers (and testers) are willing and ab

[2015-01-17 17:57] pwilkins opened #32 "Schedule: Item start dates are not validated for their relative position in hierarchy"
The position of courseware items in the POC schedule tab and its hierarchy imply these items are ordered by their position.  This is misleading since there is no validation that start dates conform to the implied ordering by position.  This can result in unexpected item visibility to students.  For example, a parent item can have a start date in the future, but a child item can have a start date i

[2015-01-17 19:50] pdpinch commented on #32
I'm not sure I follow. Do you have steps to reproduce?

----------------
I am mobile.

[2015-01-17 21:04] pwilkins commented on #32
Joe pointed this out to me, and yes, I can easily reproduce it.  I don't think this is a high priority issue.  More like "Be aware that ..."

[2015-01-20 17:20] pdpinch commented on #31
[x] Option 2

We are the only ones using this feature in the wild, and we can rebuild as necessary.

[2015-01-21 17:21] pwilkins opened #33 "All courseware displays when switching user roles"
When your user is both Student and Staff in a POC, some users expect to switch from Staff to Student roles to see what a POC-enrolled student sees, and Student to Staff to see what the POC Coach sees. This doesn't work.  All courseware is displayed in both cases, regardless of the selection of courseware in the POC Schedule tab.  This seems to be a bug, though I don't know what the expected behavi

[2015-01-23 23:25] cewing commented on #31
@pdpinch: I still haven't gotten any feedback on renaming the entire app from `pocs` to `ccx`.  I am going to put that off until the end, but imagine in my head that it is in fact what you want.  Please let me know

[2015-01-23 23:31] pdpinch commented on #31
Sorry, I thought I had said "option 2" in response to your question --- although I can't remember what option 2 was.  I'll have to look it up when I'm at a computer.

----------------
I am mobile.

[2015-01-23 23:33] pdpinch commented on #31
Option 2 -- because there are no users in the wild, except us -- and we can handle any necessary migrations.

----------------
I am mobile.

[2015-01-23 23:34] cewing commented on #31
@pdpinch: no worries.  There were actually two separate questions, only one had the nice clear option 1 or 2 prompt.  I am clear about renaming all the models and how to handle that.  Your previous answer was clear for that.

The other question has to do with renaming the entire app (the filesystem folder and all references to the app in code (like the django installed apps list)

[2015-01-26 15:35] pdpinch commented on #31
Yes. We should rename the entire app. I know it's a pain, but it will only get more painful -- and I don't want to confuse anyone who has to maintain this code.

-Peter

[2015-01-29 05:55] cguardia commented on #24
I still saw this error after the rebase. I'll take a look at this during  the weekend.

[2015-01-29 06:50] cewing commented on #31
This is basically finished, though not yet pushed up to github.  I am chasing down a few test failures in the courseware module that appeared after the renaming was completed.

[2015-02-07 06:23] bdero opened #35 "CCX tabs not rendering"
PR #34 fixes this issue.

[2015-02-07 06:58] bdero commented on #31
The CCX name change is running on the sandbox with #34. I think this is resolved unless there are tests still failing as a result of the rename.

[2015-02-10 12:52] pdpinch commented on #35
@cewing or @cguardia can you merge this?

[2015-02-10 12:55] pdpinch commented on #28
@pwilkins would you mind checking this again?

[2015-02-10 14:44] pwilkins commented on #29
@cewing In answer to your question, there doesn't need to be a visual distinction between the two cases you describe.
Since my original issue was due to default enrollment in a POC that I didn't know about, I'm closing this issue.

[2015-02-10 14:44] #29 closed

[2015-02-10 15:36] pwilkins commented on #28
I didn't recreate the original issue in the previous build so I don't know if I'm following the same steps in this build.  I added a user in the Student List Management textbox and clicked "Add Student" furiously.  That got me a 500 error but the user was added only once.

[2015-02-10 16:04] cewing commented on #35
I'll do it as soon as I'm in a place with a desk. Apologies

On Feb 10, 2015, at 4:54 AM, Peter Pinch <notifications@github.com> wrote:

[2015-02-10 16:14] pwilkins commented on #31
The Dashboard (https://sandbox2o.mitx.mit.edu/dashboard) displays CCXs with the label "Personal Online Course".  This is label needs to change to the new naming before this issue can be closed.  I'm waiting on @pdpinch for what the new name should be.

[2015-02-10 16:17] pdpinch commented on #31
please change it to "Custom Course"

[2015-02-10 16:21] pwilkins opened #36 "Can't delete unit in CCX Schedule tab"
I'm unable to delete the single unit in this custom course, or alternately, if there is a way to delete it, I don't find it.  (I don't know what the "remove..." buttons are for, but they don't remove the unit.)
![ccx-schedule](https://cloud.githubusercontent.com/assets/145821/6130910/882961f8-b116-11e4-973c-42a42c590c15.png)

[2015-02-10 16:26] pwilkins opened #37 "Unit start date can't be changed in CCX schedule"
In the previous build, I could click on the Start Date to edit it.  The Start Date is no longer clickable.  I couldn't find a way to change it.
![ccx-schedule](https://cloud.githubusercontent.com/assets/145821/6130992/066aea50-b117-11e4-8986-6f2ddafd6cae.png)

[2015-02-10 16:44] cewing commented on #35
thanks for the fix, @bdero, and apologies for the typo

[2015-02-10 16:45] cewing commented on #35
merged, @pdpinch.

[2015-02-10 21:45] cewing commented on #35
@pdpinch can you review and close this?

[2015-02-10 21:51] pdpinch commented on #35
Sorry, I was having sandbox problems. Looks good now.

[2015-02-10 21:51] #35 closed

[2015-02-12 19:33] pdpinch commented on #32
@jmartis Isn't this a problem in studio as well? Or does studio automatically sort sections/chapters based on release date?

[2015-02-13 02:23] cewing opened #38 "Tests failures after app rename"
renaming our app to ccx has caused test failures in the `/lms/djangoapps/courseware`.  This exposes a leakage in our tests.

[2015-02-13 03:22] cewing commented on #38
fixed

[2015-02-13 03:22] #38 closed

[2015-02-13 03:23] cewing commented on #38
@pdpinch Just ran all tests after this fix and they pass on my local machine.  Will attempt a new rebase to master asap to close the gap between our PR and the EDX master

[2015-02-13 18:58] cewing commented on #31
I just found and fixed three more comments in Python code, but can find no more strings in need of updating when searching through the code base.  @bdero, if you want, point me at additional spots that need fixing and I'll fix 'em.  Or update and PR and I'll merge it asap.

[2015-02-13 19:37] pdpinch commented on #37
I just wanted to confirm that I'm still seeing this problem in a sandbox based off of e64d45b7053cdb727f2c305462d16c5ada152406

Is there anything we can do to help debug this?

[2015-02-13 19:38] pdpinch commented on #36
Same as #37, still a problem in e64d45b7053cdb727f2c305462d16c5ada152406

[2015-02-13 19:38] bdero commented on #31
Thanks. It turns out the only one I could find remaining was: https://github.com/jazkarta/edx-platform/blob/feature-pocs/lms/templates/ccx/schedule.underscore#L1

Which may be causing #37 and #36 .

[2015-02-13 19:40] cewing commented on #37
I have been assuming it was an issue related to my renaming work.  I've not had time to dig into it, but @cguardia is scheduled to take a look.  @bdero's find above may be the secret sauce.  I'll fix locally and test now.

[2015-02-13 19:49] cewing commented on #36
I believe that this is now fixed.  Please test and confirm, @pdpinch, @bdero

Unfortunately, This fix does not appear to solve #37.

[2015-02-13 19:53] cewing commented on #37
This is also fixed by https://github.com/jazkarta/edx-platform/commit/a78e3ba25c9a9eb989ea43e754ec0a56f4d2d756

[2015-02-13 19:54] cewing commented on #24
This error continues to be present.  When it does occur, the error display shown in the schedule tab prevents the schedule UI from functioning properly until the page has been reloaded.

[2015-02-23 00:25] cewing opened #40 "Replace calls to our `_lineage` method with the XBlock-provided method"
[According to review](https://github.com/edx/edx-platform/pull/6636/files#r24695222) the `_lineage` method in https://github.com/jazkarta/edx-platform/blob/feature-pocs/lms/djangoapps/courseware/field_overrides.py#L197 is not needed anymore since the XBlock mixin in https://github.com/edx/XBlock/blob/master/xblock/mixins.py#L338 has a `get_parent` method that does the same thing.  We should prefer

[2015-02-23 00:26] cewing commented on #37
It'd be great if someone could confirm this is fixed and close it, @pdpinch

[2015-02-23 00:27] cewing commented on #36
@pwilkins, @pdpinch, can we get eyes on this and confirm it is fixed by ef3e501?

[2015-02-23 00:44] cewing opened #41 "Create thread-local to determine coach status"
In order to show or hide the `coach dashboard` tab in the lms, we need to be able to know if the authenticated user has the coach role.  As the API for tabs stand now, the current authenticated user is not available in the context where access control decisions are being made.

This problem was solved for hiding the `discussion` tab when a user is viewing a `ccx` by leveraging a thread local [1] s

[2015-02-23 00:49] cewing opened #42 "Write javascript tests to cover the refactored schedule editing code"
This issue is a duplicate of scrumdo story number 32 [currently in the backlog](https://www.scrumdo.com/projects/project/poc7/iteration/108588)

In [this comment](https://github.com/jazkarta/edx-platform/commit/b3eefb2769fafda781cebca57e62b3f5042a23f7#commitcomment-8727537) the refactor was suggested, and tests requested.  The refactor is now complete, and we need to add tests to cover the js writ

[2015-02-23 00:53] cewing opened #43 "use a custom course key type according to architecture review"
During review of the [open pull request](https://github.com/edx/edx-platform/pull/6636) by the EdX Architecture Council, it was suggested that rather than treating `ccx` overrides as one-off special versions of courseware items, it would be better to be able to reference them using a customized course id type.  Apparently the infrastructure exists to create custom course ids, such that we could id

[2015-02-23 00:54] cewing commented on #43
@pdpinch can I get you folks to weigh in on this?  It was my principle takeaway from the architecture meeting and I'd like to know the MIT teams take on this.

[2015-02-23 17:46] pdpinch commented on #36
Ok. I can remove sections now.

I'm having a problem with the hide/reveal accordion interface now. If I can confirm, I'll open another issue.

[2015-02-23 17:46] #36 closed

[2015-02-23 17:48] pdpinch commented on #37
This appears to be working now.

[2015-02-23 17:48] #37 closed

[2015-02-23 17:53] pdpinch commented on #31
The dashboard display is working correctly now (it says "Custom Course") and Brandon's last comment appears to have been address. I'm closing this issue.

[2015-02-23 17:53] #31 closed

[2015-02-23 21:01] pdpinch commented on #43
We'd like to leave this as is for now, as it's not a blocker for MVP.

It might be useful to know the scope of the work required, but we won't be prioritizing it over the other high priority issues here.

[2015-02-23 21:06] pdpinch commented on #41
This will address #18

[2015-02-23 21:07] pdpinch commented on #18
The approach outlined in #41 should address this issue.

[2015-02-23 21:09] pdpinch commented on #25
Awesome! Thank you @cewing

Sorry for taking so long to close this.

[2015-02-23 21:09] #25 closed

[2015-02-24 21:32] #28 closed

[2015-03-02 16:06] pdpinch opened #44 "Add a composite index on ('student', 'course_id', 'location') in the data migration"
See https://github.com/edx/edx-platform/pull/6636#discussion_r25146116

[2015-03-02 16:07] pdpinch opened #45 "Add timestamps in Field Override"
See https://github.com/edx/edx-platform/pull/6636#discussion_r25146116

[2015-03-02 16:08] pdpinch opened #46 "Add `field` to the unique index in Field Overrides"
Also from https://github.com/edx/edx-platform/pull/6636#discussion_r25146116

[2015-03-02 16:12] pdpinch opened #47 "use assertNumQueries() in tests"
This comes from a concern about performance related to the number of queries for calculating an override. See https://github.com/edx/edx-platform/pull/6636#discussion_r25146861

[2015-03-02 16:12] pdpinch opened #48 "use django.utils.importlib instead of our own import code"
https://github.com/edx/edx-platform/pull/6636#discussion_r25147009

[2015-03-02 16:16] pdpinch commented on #18
When the fix is committed, we should follow up on https://github.com/edx/edx-platform/pull/6636#discussion-diff-25203886

[2015-03-02 16:17] pdpinch opened #49 "Address Ned's comments (minor, I believe)"
If any of these turn out to be signficant issues, we can break them out into new issues:

https://github.com/edx/edx-platform/pull/6636#discussion-diff-25201906 This import is redundant, or the previous one is.

https://github.com/edx/edx-platform/pull/6636#discussion-diff-25202636 "pfm": the old name is poking through! :)

https://github.com/edx/edx-platform/pull/6636#discussion_r25203342 Can't t

[2015-03-02 16:19] pdpinch opened #50 "2 course key changes from Cale (minor changes)"
https://github.com/edx/edx-platform/pull/6636#discussion-diff-25367094 This should just be CourseKey.from_string(course_id)

https://github.com/edx/edx-platform/pull/6636#discussion-diff-25367159 s/requested_ccx.course_id.to_deprecated_string()/unicode(requested_ccx.course_id)/

[2015-03-03 12:26] cguardia commented on #41
I have added this and pushed the change to the feature-pocs branch.

[2015-03-03 13:57] cguardia commented on #40
Note that _lineage is not the same as get_parent. It calls its own _get_parent recursively. I could change _lineage to call the mixins.py get_parent instead, but as it is, I think we still will need _lineage.

[2015-03-03 15:28] pdpinch commented on #40
@cguardia since this was a request from the reviewer, would you mind commenting there? https://github.com/edx/edx-platform/pull/6636/files#r24695222

Also, when you say

I'm not sure what you mean by 'it' -- is that _lineage that calls its own _get_parent ?

[2015-03-04 02:28] pdpinch commented on #18
@pwilkins this appears to be working for me now on the sandbox: no coach tab for instructors and students who aren't coaches. Coach tab appears for coaches. Can you confirm?

[2015-03-04 02:30] pdpinch commented on #41
This looks good to me.

[2015-03-04 02:30] #41 closed

[2015-03-04 06:11] cguardia commented on #49
This issues have been addressed by https://github.com/jazkarta/edx-platform/commit/e46b8b7d3389726441fe1a6367eda0de24b1a9cb

[2015-03-04 19:03] cguardia commented on #50
This was done in https://github.com/jazkarta/edx-platform/commit/3fc87dc26773719d2d0f7b60b6515a73f71727d2

[2015-03-05 00:09] cguardia commented on #48
importlib only provides import_module, and we need to resolve the names of field override providers, which are classes, like ccx.overrides.CustomCoursesForEdxOverrideProvider. That's why we had to add  this code.

I put the above as a comment on the pull request.

[2015-03-05 04:26] cguardia commented on #40
Removed our _get_parent method from the _lineage code, in favor of the one from edx.

[2015-03-06 04:59] cguardia commented on #46
Done in https://github.com/jazkarta/edx-platform/commit/b967b127c89e8c5bbf52cd02387a6d64c7c9855f

[2015-03-06 06:14] cguardia commented on #44
The new migration for adding time stamps was modified to add this index.

[2015-03-06 06:15] cguardia commented on #45
StudentFieldOverride now inherits from TimeStampedModel.

[2015-03-06 13:36] pdpinch commented on #50
@pwilkins can you close this once you've done regression tests?

[2015-03-06 13:37] pdpinch commented on #49
@pwilkins can you close this after you've done regression tests?

[2015-03-06 13:37] #48 closed

[2015-03-06 13:45] #44 closed

[2015-03-06 13:46] pdpinch commented on #40
@pwilkins can you close this after you do regression tests?

[2015-03-06 13:50] pdpinch commented on #46
@bdero do you think this would address some of the issues that @pwilkins has seen? (like #20 or #24 )

[2015-03-06 13:50] #45 closed

[2015-03-06 13:51] pwilkins commented on #40
@pdpinch I could use a little context here.  I don't associate _get_parent() with a specific CCX behavior.  What functionality has changed or been fixed?

[2015-03-06 13:53] pdpinch commented on #40
It's a refactoring requested by edX, so there shouldn't be a functionality change.

I'm not sure where this would manifest. Probably around scheduling, i.e., adding units to the schedule and then having them display/not display properly to the CCX student according to date.

- Peter

On Mar 6, 2015, at 8:51 AM, Peter Wilkins <notifications@github.com> wrote:

[2015-03-06 13:56] pwilkins opened #51 "Duplicate CCXs appear in Dashboard"
I created a new user and added them as student in my CCX.
When I opened the edX Dashboard I found two instances of the CCX, both of which returned a 500 error when I click "view course".

[2015-03-06 14:06] pwilkins commented on #49
@pdpinch  I'll close this on the basis of my blackbox testing.  If I don't see any elephants, we assume that the magic elephant repellent worked.

[2015-03-06 15:05] cguardia commented on #51
Is that when you opened the dashboard logged in as this new user, or as a coach?

[2015-03-06 16:01] pwilkins commented on #51
This is a user is a student with no coach privileges.

[2015-03-06 16:16] pdpinch commented on #24
@pwilkins this is another one to test now that we have b967b127c89e8c5bbf52cd02387a6d64c7c9855f

[2015-03-07 04:19] cguardia commented on #51
I was not able to duplicate this problem. I tried registering new users and then adding them to the ccx, and I also tried adding them before registering. Could you try again and let me know what steps you take?

[2015-03-08 01:50] cguardia commented on #47
Added some tests that test number of queries where override field providers are used in test modules.

[2015-03-09 15:53] pdpinch opened #52 "Add comment to lms/djangoapps/ccx/__init__.py"
request from Ned at https://github.com/edx/edx-platform/pull/6636/#discussion_r25203981

(I don't know why this link isn't working, it's edx-platform/pull/6636/#discussion_r25203981

[2015-03-09 15:58] pdpinch opened #53 "Add comment to common/lib/xmodule/xmodule/course_module.py"
request from Dave Ormsbee: [edx-platform/pull/6636/#discussion-diff-25146288](https://github.com/edx/edx-platform/pull/6636/#discussion-diff-25146288)

[2015-03-09 15:59] pdpinch opened #54 "remove unecessary tear-down from tests"
comment from Ned: [edx-platform/pull/6636/#discussion_r25607237](https://github.com/edx/edx-platform/pull/6636/#discussion_r25607237)

[2015-03-09 16:01] pdpinch opened #55 "tiny test refactor: assert the list is empty instead of having a length of zero"
from Ned, regarding [edx-platform/pull/6636/#discussion-diff-25607414R533](https://github.com/edx/edx-platform/pull/6636/#discussion-diff-25607414R533)

[2015-03-09 16:03] pdpinch opened #56 "DRY in tests?"
I'm not exactly sure [what Ned's asking for here](https://github.com/edx/edx-platform/pull/6636/#discussion-diff-25607702):

@cguardia or @cewing can you take a look?

[2015-03-09 16:05] bdero commented on #47
Is this assigned to me for verifying that the tests in b96b04c027b3f1f0716114529ecd9d70ffa5a20d are passing? At a glance, this looks resolved to me.

[2015-03-09 16:07] pdpinch opened #57 "Add comment about why start & due are being converted to strings"
[question from Ned](https://github.com/edx/edx-platform/pull/6636/#discussion_r25613797)

I'm not sure if a comment is necessary, or if a response to Ned will do.

[2015-03-09 16:09] pdpinch opened #58 "Add logging in views.py"
Two requests from Ned: [edx-platform/pull/6636/#discussion_r25617845](https://github.com/edx/edx-platform/pull/6636/#discussion_r25617845) and [edx-platform/pull/6636/#discussion-diff-25617854](https://github.com/edx/edx-platform/pull/6636/#discussion-diff-25617854)

[2015-03-09 16:12] pdpinch commented on #47
Thanks @bdero

[2015-03-09 16:12] #47 closed

[2015-03-09 16:24] bdero commented on #46
@pdpinch I can't tell if this has anything to do with #24 due to the stack trace linked no longer being available. And it would take more investigation to tell if #20 is caused by this I think.

[2015-03-09 16:25] #46 closed

[2015-03-09 17:02] pwilkins opened #59 "registration email not sent"
As a coach I add a student to a CCX.  The student (a different user) should get an invitation to register but doesn't.  The student _does_ see the CCX in his Dashboard, but the link in the "not enrolled yet" flash returns a 500 error.  (this may be a second, unrelated error.)

![enroll-here](https://cloud.githubusercontent.com/assets/145821/6559890/650d9b66-c65c-11e4-80cf-23dff2067081.png)

[2015-03-09 18:21] pwilkins commented on #51
I can't reproduce the problem, either.  Here's the screenshot just so I'm not accused of hallucinating.

![dup-ccx](https://cloud.githubusercontent.com/assets/145821/6561412/82eb86ec-c667-11e4-8f90-8bfceb9bef74.png)

[2015-03-09 18:23] pdpinch commented on #51
I'm going to wave my hands and say that one of the data integrity checks is preventing this from happening again.

If it comes back, feel free to re-open the issue.

- Peter

[2015-03-09 18:23] #51 closed

[2015-03-10 05:16] cguardia commented on #52
This one was already done as part of #49

[2015-03-10 06:02] cguardia commented on #54
Verified that tests run fine without it and removed.

[2015-03-10 06:27] cguardia commented on #55
This pattern was used in several places. Now using the recommended way.

[2015-03-10 06:45] cguardia commented on #56
Got rid of duplicate code in tests.

[2015-03-10 07:18] cguardia commented on #57
Added a comment, in case someone else wonders.

[2015-03-10 07:51] cguardia commented on #58
Added logging in both places.

[2015-03-10 08:22] cguardia commented on #53
Done.

[2015-03-10 13:03] pdpinch commented on #54
fixed in https://github.com/jazkarta/edx-platform/commit/8e85919aba48adb67beb3a8a9183c31a28b93daa

[2015-03-10 13:03] #54 closed

[2015-03-10 13:04] pdpinch commented on #53
fixed in https://github.com/jazkarta/edx-platform/commit/d850e9a37e84818fc5efee11b61623fa7048d972 (I believe)

[2015-03-10 13:04] #53 closed

[2015-03-10 13:06] pdpinch commented on #52
Sorry about the dupe.

[2015-03-10 13:06] #52 closed

[2015-03-10 13:07] pdpinch commented on #58
fixed in https://github.com/jazkarta/edx-platform/commit/523f90109f2d146208d0ec4e19c6dd568349a4f0

[2015-03-10 13:07] #58 closed

[2015-03-10 13:10] pdpinch commented on #57
fixed in https://github.com/jazkarta/edx-platform/commit/d850e9a37e84818fc5efee11b61623fa7048d972

[2015-03-10 13:10] #57 closed

[2015-03-10 13:11] pdpinch commented on #55
Fixed in https://github.com/jazkarta/edx-platform/commit/f838153f22056137f5ddee390d92477b19e18e2a and https://github.com/jazkarta/edx-platform/commit/30f6de61efda5f0e4ebc16f15a0e1bf039b582a3

[2015-03-10 13:11] #55 closed

[2015-03-10 13:11] #49 closed

[2015-03-10 13:12] pdpinch commented on #56
fixed by https://github.com/jazkarta/edx-platform/commit/9993b91549ff4a866eec71ddb5428efaff17fe50, I believe

[2015-03-10 13:12] #56 closed

[2015-03-10 13:14] pdpinch commented on #59
Which method did you use to add the student? "Batch Enrollment" or "Student List Management" ?

[2015-03-10 15:33] pwilkins commented on #18
Confirmed. No coach tab for instructors and students who aren't coaches. Coach tab appears for coaches.

[2015-03-10 15:33] #18 closed

[2015-03-10 16:00] pwilkins commented on #24
I got this error again on my first try.

[2015-03-10 16:01] pdpinch commented on #24
Can you reproduce it?

Does the error still block editing, or is it recoverable now?

Can we get a stack trace, maybe from @bdero

[2015-03-10 16:10] pwilkins commented on #24
I believe the stack trace is sent to mitx-devops when the error occurs.  The stack trace email is dated March 10, 2015, 11:58AM.  The page still has to be reloaded to clear the error condition.  I can cause it to happen repeatedly.

[2015-03-10 16:12] bdero commented on #24
Is this the URL? https://sandbox2o.mitx.mit.edu/courses/MITx/3.0981x/3T2014/ccx_coach

This is the same old problem with duplicate entries:

IntegrityError: (1062, "Duplicate entry '23-i4x://MITx/3.0981x/chapter/entrance_survey-start' for key 'pocs_pocfieldoverride_poc_id_4f056f5d7ea7a9ca_uniq'")

[2015-03-10 17:00] pwilkins commented on #24
That's the one.

[2015-03-10 17:19] cguardia commented on #24
I'll take a good look at that one later today.

[2015-03-10 18:22] pdpinch commented on #50
@pwilkins reports no net new issues after testing this version. I'm closing this.

[2015-03-10 18:22] #50 closed

[2015-03-10 18:22] pdpinch commented on #40
@pwilkins reports no net new issues after testing this version. I'm closing this.

[2015-03-10 18:22] #40 closed

[2015-03-10 18:24] pdpinch commented on #24
Thanks @cguardia

This is our last remaining High Priority issue! (for the moment)

[2015-03-11 07:32] cguardia commented on #24
I spent a good deal of time with this today. I can't figure it out. Part of the problem is that I find it very hard to replicate the error. Do you have a series of steps that will surely trigger it? I couldn't find that.

I have a theory or two, but would need a better way of repeating the error. Or I could try one or two approaches, and see if the problem goes away with one. Not very sure what to

[2015-03-11 13:48] pwilkins commented on #24
I can reproduce this error with ease.  All I have to do is add an item to the schedule and hit save.  It doesn't happen every time, but often.

[2015-03-11 13:58] pdpinch commented on #24
@cguardia are you testing on your own devstack, or on a server we can reach?

@pwilkins maybe we should invite @cguardia and @cewing to be coaches on the course you're using to test. I'm not sure if they have accounts on the [sandbox](https://sandbox2o.mitx.mit.edu/) at the moment.

[2015-03-11 14:28] pwilkins commented on #24
The sandbox I'm testing against is here: http://sandbox2o.mitx.mit.edu/  If you would access the site and register I'll give you coach privileges on a course.  (I'll know when you register because we get notifications.)

[2015-03-11 15:02] pdpinch commented on #24
@cguardia can we at least make it so that the error message doesn't bork the whole page? As it is now, if the user gets that error, there's no way to recover other than reloading the page.

In the meantime, we're trying to gather more data about the error.

[2015-03-11 15:11] pwilkins commented on #24
@cguardia you have instructor and coach privileges on 4.605x, part 1.

[2015-03-11 15:53] bdero commented on #24
The ScheduleView backbone render method is where the async callbacks for the buttons are defined right now: https://github.com/jazkarta/edx-platform/blob/5f28dfc2ea6fd5bde87f3d58215a9d96f045d6c1/lms/static/js/ccx/schedule.js#L108-L186

But this isn't the right place for them, since every time render is called, new async callbacks are added. This is causing potentially many parallel save_ccx POSTs

[2015-03-11 16:07] cguardia commented on #24
Thanks for that note @bdero , will review that.

[2015-03-11 17:02] cguardia commented on #24
I think we are hitting this issue: https://code.djangoproject.com/ticket/13906

This is probably only noticeable because of the problem with the js that @bdero just mentioned here. I put in a fix for the sql part, which consists of not using get_or_create. I'm still going to fix the js, but if you can give this fix a try it would be great.

[2015-03-11 19:23] pdpinch commented on #24
@cguardia we have deployed your last commit to our sandbox and we'll take a look.

We also sent you account credentials for our sandbox, if you want to try it out yourself.

[2015-03-11 20:42] pdpinch commented on #24
We're still getting errors, at least on the test course we sent you. The ui also does this weird flickering thing as the the save events are all sent back to the server and processed.

I wouldn't mind the errors so much if the page could recover from them. Do you know why the whole ui stops working after the error is returned?

[2015-03-11 20:47] cguardia commented on #24
I'm working on fixing the js. I will also be looking to improve that behavior.

[2015-03-11 22:07] cguardia commented on #24
Committed a fix for the multiple submit error. This should get rid of most errors, I believe.

Will continue to look for a better way to handle other errors.

[2015-03-11 22:41] cguardia commented on #42
@bdero now that I have been changing the schedule js, I'd like to finish the tests, but I ran into a problem running them. I sent you an email. I wonder if you have any suggestions? Thanks.

[2015-03-12 18:06] pdpinch opened #60 "Where did the triangles and Xs go? (schedule tab)"
I'm not sure when this happened, but we used to have blue disclosure triangles and red x's in the schedule tab. Now we do not.

From the screencast recorded 1/9:

![screen shot 2015-03-12 at 1 26 38 pm](https://cloud.githubusercontent.com/assets/430126/6624620/d6170052-c8c0-11e4-8626-9717c156af95.png)

From today's code:

![screen shot 2015-03-12 at 2 05 50 pm](https://cloud.githubusercontent.com/

[2015-03-12 18:11] pdpinch opened #61 "diff quality test fails"
Jenkins says we need more quality in 2962957 and bdc6310

see https://build.testeng.edx.org/job/edx-platform-all-tests-pr-flow/1724/Diff_Quality_Report/

[2015-03-12 18:14] pdpinch opened #62 "Do we have a dependency on MILESTONES_APP?"
When we deployed 2e73bada6e8dd6a4e4c614437e90f5204165c46e on our sandbox, courseware everywhere returned a 500 error. We tracked it down to some code related to the MILESTONES_APP feature flag. Setting the flag to true (as it is on edx.org) cleared the error.

Not clear yet whether this is a general edX issue, or if it is something that needs to be fixed in this branch.

[2015-03-12 18:21] pdpinch commented on #62
edX may be working on this already, in https://github.com/edx/edx-platform/pull/7320

[2015-03-12 18:58] mattdrayer commented on #62
@pdpinch -- the fix should be ready to merge at this point -- just waiting on Jenkins to give the green light.

[2015-03-12 19:50] pwilkins opened #63 "two different date widgets appear in Chrome"
In the Schedule tab, I can get two different date widgets to appear using Chrome.
Steps to reproduce:

1. Select a unit to add to schedule
1. click inside the set date textbox, a date picker appears
1. click the large dropdown icon, the one furthest to the right, a different date picker overlays the first one.

![dueling-date-widget](https://cloud.githubusercontent.com/assets/145821/6626723/5d0309

[2015-03-12 19:57] pwilkins opened #64 "adding a Schedule start date in the right nav is ignored"
In the Schedule tab right-side nav, I can specify a unit to add and a start date.  When I click add unit, the unit appears in the schedule, but the date is lost.

[2015-03-12 20:44] pwilkins opened #65 "Schedule content doesn't appear for student"
When I set content in the Schedule tab, the student sees all course content.  This is similar to #8 though it seemed useful to create it as a new issue.

[2015-03-13 12:21] pdpinch commented on #62
@cewing can you rebase to pick up the fix from edx#7320  ?

Then @bdero can do a deploy with the MILESTONES_APP feature flag.

[2015-03-13 12:23] pdpinch commented on #24
@pwilkins any sign of errors since Thursday's release to the sandbox?

[2015-03-13 12:25] pdpinch commented on #42
@bdero did you get a chance to follow up with Carlos about JavaScript tests?

[2015-03-13 12:37] pwilkins commented on #24
No sign of errors since Thursday's release.  Should I close this issue?

[2015-03-13 12:38] pdpinch commented on #24
I'll close it once #65 is resolved. I'd like to see that these aren't related in some way.

[2015-03-13 12:59] pwilkins commented on #59
I can't reproduce this so I'm closing it.

[2015-03-13 12:59] #59 closed

[2015-03-13 14:43] cewing commented on #62
Will do ASAP. Likely 10 am PT

Cris Ewing
************
Cris Ewing Developer, LLC
http://crisewing.com
cris@crisewing.com
@crisewing
206.724.2112

On Mar 13, 2015, at 5:21 AM, Peter Pinch <notifications@github.com> wrote:

[2015-03-15 00:30] cguardia commented on #62
The rebase was done on Friday. The fix should be in.

[2015-03-15 21:11] pdpinch commented on #62
@bdero please do a deploy Monday morning.

[2015-03-16 02:34] bdero commented on #62
Just deployed this.

[2015-03-16 06:01] cguardia commented on #61
This was very time consuming, but it's done. See here:

https://build.testeng.edx.org/job/edx-platform-all-tests-pr-flow/1739/Diff_Quality_Report/

Note that even though the rest of the edx code base is free of pep8 violations, it does have more than 5,000 pylint infractions, so it appears that they don't make a huge emphasis on that. Anyway, we won't be guilty of getting that number up now.

[2015-03-16 08:02] cguardia commented on #60
Apparently, we were using bootstrap icons and edx uses font awesome. Switching to those icons fixed the issue.

[2015-03-16 10:01] cguardia commented on #65
Still haven't been able to figure out this one. Will keep trying on Monday.

[2015-03-16 10:11] pdpinch commented on #65
Are you seeing it as well? I'd like to confirm that it isn't some specific to our sandbox.

----------------
I am mobile.

[2015-03-16 16:15] pwilkins opened #66 "CCX student can't find their CCX"
When a student is enrolled but not registered in a CCX, the CCX should be discoverable in the course list or the dashboard, even if the CCX is the only course they are enrolled for. That isn't the case.  When a student activates their edX (not course) registration, they are provided a link to their dashboard, but the dashboard doesn't contain the CCX in which the student is enrolled.

The student

[2015-03-16 18:39] cguardia commented on #65
Yes, I'm seeing it. After stepping through code, seems like we are overriding 'visible_to_staff_only', but the toc rendering is using only 'hide_from_toc', so the overridden field is never used when displaying  the course navigation.

Trying to find out if they changed that recently.

[2015-03-16 22:39] cguardia commented on #65
Ok, this took a bit to track, but turned out to be a merge problem. Somehow the access check code was duplicated before and after the descriptor binding in module_render. We needed the check to happen later, but the code that sneaked in caused it to happen before the binding, so the overrides never were used.

[2015-03-17 03:51] pdpinch commented on #65
That's awesome that you found it!

Is there a commit or a PR that we can test?

Also, it looks like we'll need a rebase afterwards.

[2015-03-17 04:25] cguardia commented on #65
The relevant commit is https://github.com/jazkarta/edx-platform/commit/06e967875b045842abc195605e53ecf88cfbac2b

[2015-03-17 13:28] pdpinch commented on #65
This is working for me now on our sandbox. @pwilkins can you confirm?

[2015-03-17 13:29] pdpinch commented on #60
@pwilkins I think you saw this working? If I'm wrong, please re-open.

[2015-03-17 13:29] #60 closed

[2015-03-17 13:31] pdpinch commented on #61
Thanks @cguardia !

[2015-03-17 13:31] #61 closed

[2015-03-17 13:32] pdpinch commented on #62
Looking good.

[2015-03-17 13:32] #62 closed

[2015-03-17 15:39] pwilkins commented on #65
confirmed.

[2015-03-17 15:39] #65 closed

[2015-03-17 20:05] pwilkins commented on #60
It's working for me as well.

[2015-03-19 20:07] cguardia commented on #24
We can probably close this one now, no?

[2015-03-19 20:09] pdpinch commented on #24
Sorry. My bad.

[2015-03-19 20:09] #24 closed

[2015-03-24 17:51] pdpinch opened #67 "Create a new usage key for CCXs and use it instead of course key"
We shouldn't submit this work until https://github.com/edx/edx-platform/pull/6636/ merges.

This was discussed at some length in an Architecture Council meeting in February. I believe the following notes from @bdero capture the discussion well:

[2015-03-24 18:01] pdpinch commented on #43
I believe the following notes from @bdero capture the discussion well:

[2015-03-24 18:01] pdpinch commented on #67
Oops. We already had this in #43

[2015-03-24 18:01] #67 closed

[2015-03-26 07:55] amir-qayyum-arbisoft commented on #21
@pdpinch do I need to make auto_enroll = True in view.py/ccx_invite(request, course) ?

[2015-03-26 10:09] pdpinch commented on #21
That's right.

----------------
I am mobile.

[2015-03-26 10:13] amir-qayyum-arbisoft commented on #21
thanks ,done

[2015-03-26 13:07] pdpinch commented on #23
Oops. This should have been closed long ago.

[2015-03-26 13:07] #23 closed

[2015-03-26 13:26] pdpinch commented on #20
This appears to be fixed now.

[2015-03-26 13:26] #20 closed

[2015-03-31 20:28] pwilkins opened #70 "icon in 'set date' dialog not rendered"
The icon in the upper right corner of the 'set date' dialog doesn't render and is inactive.

![set-date-icon-missing](https://cloud.githubusercontent.com/assets/145821/6928570/ee436812-d7c2-11e4-99d8-de342a865df2.png)

[2015-04-01 10:32] amir-qayyum-arbisoft commented on #64
@pdpinch done with fix

[2015-04-01 10:33] amir-qayyum-arbisoft commented on #22
@pdpinch done with fix

[2015-04-09 10:22] amir-qayyum-arbisoft commented on #22
@pdpinch

1) User creates a course on studio and assign to POC
2) POC open schedule and selects chapter, sequential and unit and add start date
3) I am not able to see release date on studio set as the date when i add chapter to schedule

Please guide me on how release date is set to date courseware added to schedule?

Thanks

[2015-04-09 10:37] amir-qayyum-arbisoft commented on #64
@pdpinch

*Scenarios testes*

*Scenarios 1*
1) Open schedule tab on the right selected chapter, sequential and unit
2) added start date only
3) refresh
4) noting add
5) add again and  save
6) Can see start date
7) refresh
8) Can see the start date

*Scenarios 2*
1) Open schedule tab on the right selected chapter, sequential and unit
2) added start date and end date
5) add unit and  save
6) Can see

[2015-04-09 13:20] pdpinch opened #73 "In the schedule view, units that don't have dates should display "unscheduled""
It is possible that units, sections and subsections in the master course that the CCX is based on, do not have dates set for start_date and due_date. For these blocks, the schedule should display "unscheduled" similar to what is done in studio currently.

[2015-04-09 13:25] pdpinch commented on #64
I'm seeing the same thing. I'm closing this issue.

[2015-04-09 13:25] #64 closed

[2015-04-09 13:30] pdpinch commented on #22
Amir and I discussed this over chat, but I thought I should capture the answers here:

1) Changes to the CCX do not affect the view of the course in Studio. CCX changes are saved as "field overrides" and don't affect the "master course." Field overrides are only applied to the students who are enrolled in the CCX.

2) If the CCX coach hasn't set a start_date or a due_date, the fields are not overr

[2015-04-16 19:34] pdpinch opened #74 "Student dashboard course listing shows CCX courses incorrectly"
It appears that we wrote a template for displaying CCXs in the student dashboard, and the student dashboard was changed under our feet.

It may be worth reconsidering that approach and instead using conditionals behind the CCX feature flag in the pre-existing template.

There is a corresponding [JIRA ticket TNL-2007](https://openedx.atlassian.net/browse/TNL-2007). When a PR is made, it should refe

[2015-04-16 20:05] pdpinch opened #75 "CCX Courses that aren't yet released are clickable in student dashboard"
And if the CCX student clicks on the course, they won't be able to see it even if an override has been set.

This is also open edX [JIRA #2009](https://openedx.atlassian.net/browse/TNL-2009)

If it makes sense, a fix to this issue could be combined with #74

[2015-04-16 20:08] pdpinch opened #76 "allow CCX Coaches to enter unreleased courses"
CCX coaches can't view a course with a start date in the future, unlike instructors and course staff.

[2015-04-16 20:09] pdpinch commented on #76
@cewing @skleinfeldt this is not as high priority as #74 and #75 but I'd like to get some feedback on how complex this may be.

[2015-04-16 20:26] cewing commented on #74
combining work on this with work on #75 seems likely to go well.

[2015-04-17 16:49] cewing commented on #74
The template that displays a course on the dashboard is quite complex.  There are a number of elements in it that really do not apply to CCXs and for those that do, the displayed information is derived in sometimes widely different ways.  I think therefore that it would be very difficult to make a reasonable adjustment to the course dashboard template that special-cased CCX information without mak

[2015-04-17 16:51] cewing commented on #74
This is a solid first pass at solving the problem.  The date information in the template is still derived entirely from the course to which a ccx is attached.  This is incorrect behavior, but the solution is to extend the CCX class with some API that allows for getting the date information from the CCX schedule.

[2015-04-17 16:59] pdpinch commented on #74
Thanks for tackling this so quickly @cewing. Given the constraints, I think this is an OK approach to fix the bug. Could you submit a WIP PR to edX while I find out if edX wants to try to get this into their next release? Having a WIP PR in place will make it easier for them to evaluate.

Please tag me and @bdero on the WIP PR.

[2015-04-17 17:02] cewing commented on #74
roger wilco

[2015-04-17 17:02] pdpinch commented on #43
I've gotten some follow-up details from the edX Engineering team on implementing this. I'm going to paste it all here, but I think each of their bullets calls for a separate issue and (probably) a separate PR:

[2015-04-17 17:34] pdpinch opened #77 "Don't use session-based global state to identify when someone is in a CCX course"
Depends on #43

[2015-04-17 17:36] pdpinch opened #78 "Use the standard enrollment table instead of a custom CCX table"
Depends on #43

[2015-04-17 17:37] pdpinch opened #79 "Move CCX-related field overrides to happen at the modulestore layer..."
...  so that content-related services like search and course structures can query with the new CCX course keys.

Depends on #43

[2015-04-17 17:41] pdpinch opened #80 "Changes to a CCX course should emit a course_published event,"
... just like regular courses. (edX is willing to help with this one as we didn't discuss this specifically. It is a low effort ask and has lots of downstream value)

[code]

[2015-04-17 21:13] pdpinch commented on #43
Ferdi & I spoke with Dave Ormsbee today about PRs and ordering. He suggests the following:

- [ ] 1st PR: #79
- [ ] 2nd PR: #77 & #78
- [ ] 3rd PR: #80

[2015-04-20 17:11] cewing commented on #75
@pdpinch, @bdero, could you help me understand what exactly constitutes an "unreleased" course (or CCX)?  I'm thinking it has to do with the start date for the course, but am not sure.  Any information you can provide that would help me calculate whether a CCX is released or not would be helpful.

Thanks

[2015-04-20 18:03] cewing commented on #75
@pdpinch, @bdero, to be clear, at the moment the only arbiter of whether a CCX has "started" or "ended" is whether the course from which it was made has started or ended.  There is no way that I am aware of to set a different "start" or "end" for a CCX.

I could leverage the schedule for the course, and look for the earliest start and latest end date for scheduled units within the CCX, but that se

[2015-04-21 14:25] pwilkins commented on #75
@cewing @pdpinch @bdero Coaches expect that setting the start date of the CCX controls when students are able to see the CCX.

[2015-04-21 15:18] pwilkins commented on #75
@cewing @pdpinch Link to story#13 https://www.scrumdo.com/projects/story_permalink/787273

[2015-04-21 17:38] cewing commented on #75
Shoot.  I apologize @pwilkins.  I must have missed seeing that in the UI.  I'll look again more carefully and close this out.

[2015-04-21 20:45] cewing commented on #75
With the changes committed in 361670d this should now be fixed.  If a CCX has a start date which has not yet arrived, the display of the ccx on the student dashboard will not provide any clickable links and will show the upcoming start date.

[2015-04-27 15:20] carsongee opened #81 "Race condition while creating CCX can cause perma 500"
Currently the creation of a CCX is not in a transaction, so race conditions are possible. This happened to me in the "wild" on edx.org, and I'm now no longer able to do anything with that course as I'm getting MultipleObjectsReturned: get() returned more than one CustomCourseForEdX -- it returned 2!. I believe the correction needs to be added around https://github.com/edx/edx-platform/blob/master/

[2015-04-27 20:36] cewing commented on #81
@carsongee I'd love to see the full stack trace, but I am also wondering if the work I am starting to do this week on fixing issue #43 and the other issues related to it might make this problem obsolete.  How urgent is a fix for this under our current strategy for creating a CCX?

[2015-04-27 20:59] carsongee commented on #81
I sent you the trace via e-mail.  I'm not all sure what is involved in changing to a new course key, but if you are no longer using SQL to store CCX names, this would become irrelevant in mysql.

[2015-04-27 21:19] cewing commented on #81
Thanks, @carsongee :+1:!  I'll link the [stacktrace](https://gist.github.com/feanil/39330b3bd95385daf512) here for a more persistent and cross-developer reference.

[2015-04-27 21:28] cewing commented on #74
The pull request to fix this issue has been merged by edx, so I think we can close this out whenever your team can get to it @pdpinch, @bdero

[2015-04-28 01:57] pdpinch commented on #75
@bdero has the sandbox been updated to include 99fbc89 ?

[2015-04-28 01:58] pdpinch commented on #74
@bdero Same question again: I'd like to review this on our sandbox. Has it been updated?

[2015-04-30 12:36] cguardia commented on #42
Sorry this took so long, but just pushed the schedule tests to the testjs branch.

[2015-04-30 12:53] pdpinch commented on #42
Sorry, I can't find the branch. Can you post the URL?

If you think it's ready for us to review, I believe the best thing to do is submit a WIP PR to edX, and tag @bdero, @carsongee and @pdpinch

[2015-04-30 13:00] cguardia commented on #42
My bad, forgot to mention that the work was done in the jazkarta repository: https://github.com/jazkarta/edx-platform/tree/testjs

It's working and covers most of the code, though there are minor things that are not tested.

[2015-04-30 19:56] pdpinch commented on #74
@bdero I'm not seeing this fix on our sandbox.

[2015-04-30 20:05] bdero commented on #74
Sandbox2o was last deployed against edx/edx-platform master. I will deploy it against this branch once I arrive home. Sorry about that.

On April 30, 2015 3:56:48 PM EDT, Peter Pinch <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-04-30 20:07] bdero commented on #74
Whoops, didn't realize this was an issue and not a PR. Regardless, I'll take a look within the next hour.

On April 30, 2015 3:56:39 PM EDT, Peter Pinch <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-04-30 20:09] pdpinch opened #82 "CCX Student should see CCX name on courseware pages"
This appears to be a regression on edge.edx.org. I haven't tested it anywhere else yet.

In the upper-left corner of the courseware page, where the course name usually appears, the student should see the name of the CCX instead of the name of the course.

If we fix this (again) we should add some acceptance tests to avoid future regressions.

[2015-04-30 20:09] cewing commented on #74
The fixes are now in master from edx/edx-platform, so yes that should do.  The PR was merged.

[2015-04-30 20:10] #74 closed

[2015-04-30 20:17] cguardia commented on #42
Is  there a way to measure coverge of js tests? @bdero?

[2015-04-30 20:46] cewing commented on #82
@pdpinch I agree on the tests idea.  I'll get to work on this.

[2015-04-30 20:57] bdero commented on #42
I haven't looked at javascript coverage reports in edx-platform, but grepping for jscover reveals that it's probably built into their tooling.

[code]

Is there a jscover-dist directory or jscover.log created after you run the tests?

[2015-04-30 21:05] bdero commented on #74
The last commit from on the sandbox is 10 days ago, so these changes are actually not on there; deploying now.

[2015-04-30 21:08] cewing commented on #82
Oh, and once the changes from https://github.com/edx/edx-platform/pull/7771 have been deployed, can we get verification that this issue is not isolated to edge?

[2015-04-30 21:34] bdero commented on #74
The latest edx/edx-platform `master` is now running as of a few minutes ago.

[2015-05-01 02:58] pdpinch commented on #74
I've verified this on our sandbox, running with edx#7771

[2015-05-01 03:00] pdpinch commented on #82
Hmmm. The plot thickens. I can't reproduce this error on our sandbox, even with edx#7771

MOOC title:

![screen shot 2015-04-30 at 10 56 32 pm](https://cloud.githubusercontent.com/assets/430126/7426125/785731e2-ef8c-11e4-8dfa-b2f19f6b3a8a.png)

Same course, as a CCX:

![screen shot 2015-04-30 at 10 55 29 pm](https://cloud.githubusercontent.com/assets/430126/7426130/875ba362-ef8c-11e4-9fec-c04b66a2

[2015-05-01 15:37] pwilkins opened #83 "Coach added by Instructor isn't enrolled in course"
I experienced this on edge.edx.  As an instructor I added a coach.  I logged in as the coach and received a page saying that I was not enrolled in any course.  I will test this in our sandbox as well and report back.

[2015-05-01 19:19] pdpinch commented on #83
I'm seeing this on edge as well, and I wonder if we overlooked it on the sandbox because we have admin privileges. It may best to consider this a feature request and in the meantime suggest that coaches register for the course.

[2015-05-01 19:27] pdpinch commented on #75
@pwilkins can you test this (on edge and/or sandbox2o) and close if appropriate?

[2015-05-01 20:13] pwilkins opened #84 "username rendered onto dashboard"
I don't think this is a CCX problem, but I'll record it here since I don't know a better place.  Note that my username extends outside the "want to change your settings" box.  (I guess I exceeded the length of an acceptable edX user email.)

![screen shot 2015-05-01 at 4 09 03 pm](https://cloud.githubusercontent.com/assets/145821/7436546/bc4de7de-f01c-11e4-8bc2-632818770a6f.png)

[2015-05-05 12:41] pdpinch commented on #70
@pwilkins can you validate this when edX releases it?

[2015-05-05 14:34] pwilkins commented on #83
I've learned that this isn't an issue, but a feature.  Course staff needs to be enrolled in a course.  I had mistakenly thought that enrollment was only for students.

[2015-05-05 18:31] bdero commented on #42
Any reason this is assigned to me?

[2015-05-05 19:02] cguardia commented on #42
@bdero sorry, re-assigned to myself.

[2015-05-05 20:01] pwilkins commented on #84
This appears to be an edX issue and not related to the CCX feature.  I'll close it for that reason.

[2015-05-05 20:01] #84 closed

[2015-05-05 20:08] pdpinch commented on #42
@bdero I was hoping you could help with code review.

On May 5, 2015, at 2:31 PM, Brandon DeRosier <notifications@github.com> wrote:

[2015-05-06 21:03] cguardia commented on #42
@pdpinch @bdero a code review would be nice. I believe I have covered the most important functionality, but there are some things that are hard to test, like the date popups, which I skipped for the time being.

The actual date change functions that the popup calls are tested, so I think that's all right. However, if we do need 100% coverage, I would have to work on that a bit more. I was just dis

[2015-05-08 10:18] cguardia commented on #42
I added more tests. Getting jscover to run was a bit troublesome, but it works. Coverage is at 70%, but the date modal tests would get that to over 90%. However, I was not able to test that today. Lots of JS in the core is below 100%, though.

Sarina says it's best for them if we make the PR once it's ready, so it would be very helpful if you can review the code and confirm tests pass for you. I m

[2015-05-08 12:33] pdpinch opened #85 "Add course advanced setting to enable/disable the creation of a CCX on a per course level"
Course authors can enable advanced features in courses using the "advanced settings" in studio, or by adding a key to their policy.json file (see the [course authoring docs for the SGA XBlock](https://github.com/mitodl/edx-sga#course-authoring-in-edx-studio) as an example).

edX has asked us to add a similar configuration setting for CCX.

- We will need to create a new key in the advanced setting

[2015-05-08 15:11] pdpinch commented on #42
@bdero

[2015-05-08 18:23] pwilkins commented on #75
I have verified that this is now works properly.  The CCX appears in the student dashboard but it can't be opened and its start date reflects the CCX schedule setting.

[2015-05-08 18:23] #75 closed

[2015-05-08 19:20] bdero commented on #42
I ran the tests and they pass for me. All test coverage increase is a :+1: and I think this looks good for review. Please submit a PR to edX.

[2015-05-12 12:04] pwilkins commented on #70
Yes, certainly.

[2015-05-13 01:56] cguardia commented on #42
@pdpinch, @bdero, I created the PR: https://github.com/edx/edx-platform/pull/8019

[2015-05-15 16:34] pwilkins opened #86 "Batch Enrollment - invalid user fails without error message"
Either a username or an email address may be entered in the Batch Enrollment panel. If a username that is unknown to the system is entered, no email is sent and no warning message is displayed, even though an error message is written to the log.

2015-05-15 12:11:12,173 INFO 5560 [ccx.views] views.py:369 - Invalid user name or email when trying to invite students: pwilkins-stu02

The instructions

[2015-05-21 02:59] cewing opened #87 "Create a custom opaque-key package for CCX courses and blocks used within them"

[2015-05-21 03:00] cewing commented on #87
Fixed, see https://github.com/jazkarta/ccx-keys

[2015-05-21 03:01] cewing commented on #87
@pdpinch progress marker.  keys are ready to use.  They've been incorporated into the edx-platform repo at f099e2848c59e62f9400a845ec7d929a57b785d6

[2015-05-21 12:27] pdpinch commented on #79
@bdero this was a request from Dave Ormsbee. Do you think this would have any affect on

a) our memory issues
b) where we might control overrides at a per-course level?

[2015-05-21 17:41] bdero commented on #79
I'm actually not too sure what this means. Is this CCX-specific, or is this a proposal for reimplementing field overrides to not be a field data wrapper? What does it mean for e.g. the content search feature to "query with the new CCX course keys"? Is this because the field data will only be filtered while rendering, but features like the search service query the course tree in a more direct way?

[2015-05-21 17:47] bdero commented on #79
If I'm guessing right, the intention is to make field override providers work when trying to read field data - in which case I don't think it will have an effect on the performance/memory problem.

[2015-05-21 17:49] pdpinch commented on #79
I think you're right @bdero. In fact, this might expand the set of cases where we run into memory issues, depending on how these other services walk the course tree.

[2015-05-22 21:08] cewing commented on #87
This is ready to close.

[2015-05-22 21:08] #87 closed

[2015-05-22 21:11] cewing opened #88 "Update coach_dashboard decorator"
The new version should determine if a ccx is active by using the course_id from the URL match.

If it builds a CCXLocator, then a ccx has been requested and the decorator should find the ccx and pass it in to the wrapped view.

If it builds a CourseLocator, then there is no active ccx and `None` should be passed to the views as the active ccx.

Views will be responsible for accepting a ccx or None

[2015-05-22 21:11] cewing commented on #88
@pdpinch: I am transcribing tasks for the ccx id switch into github ids.

[2015-05-22 21:15] cewing opened #89 "Update all coach dashboard views"
When the coach_dashboard decorator is updated, fix the all coach dashboard views appropriately.

- [x] Update all function signatures to accept a keyword arg for `ccx` which defaults to None
- [x] Update all python code url reversing to use the CCXLocator for the current ccx instead of the course_id of the course.
- [ ] Update all views to raise an exception **or** redirect to an appropriate view

[2015-05-22 21:16] cewing commented on #89
@pdpinch: I am transcribing tasks for ccx id update into issues.

[2015-05-22 21:17] cewing commented on #89
In progress, partially completed.

[2015-05-22 21:20] cewing opened #90 "Fix the `get_current_ccx` method"
The current implementation uses a threadlocal to determine the active CCX.  Instead it should use the matched course_id from the URL.  The course_id should be passed as an argument.  If it's a CCXLocator, then return the CCX it identifies.  If not, return None (no active ccx)

[2015-05-22 21:21] cewing opened #91 "Find and fix uses of ccx.overrides.get_current_request"
If this method is used anywhere, fix it so that it does not rely on the threadlocal `_CCX_CONTEXT`.

If it is not used anywhere, delete the code.

[2015-05-22 21:25] cewing opened #92 "Find and fix all callsites of `get_current_ccx`"
Make sure that anywhere the `get_current_ccx` method is called is fixed so that the method can use the current course_id (which may or may not be a CCXLocator) to determine the active CCX.  (see #90)

[2015-05-22 21:29] cewing opened #93 "Update enrollment emails (and other emails if any)"
Everywhere we were using the course_id in an email we should now use the CCXLocator instead.

[2015-05-22 21:30] cewing opened #94 "Update page template links"
Any location in a page template that links to a CCX coach dashboard view should be updated to use the CCXLocator instead of the course_id.

[2015-05-22 21:31] cewing opened #95 "Update javascript links for CCX dashboard"
Any javascript links or actions that send data to a coach dashboard view should be updated to use the CCXLocator instead of the course_id.

[2015-05-22 21:38] cewing opened #96 "Fix all existing ccx tests"
tests will need to updated to account for the new id usage.

[2015-05-23 05:56] cguardia commented on #93
Fixed by 6a6bf4f1d3389b60fabe7022bef6ec91e5218ddc. @pdpinch this is mostly done, but would like to review with @cewing tomorrow.

[2015-05-23 05:57] cguardia commented on #94
Fixed by 6a6bf4f1d3389b60fabe7022bef6ec91e5218ddc. @pdpinch this is mostly done, but would like to review with @cewing tomorrow.

[2015-05-23 05:57] cguardia commented on #95
Fixed by 6a6bf4f1d3389b60fabe7022bef6ec91e5218ddc. @pdpinch this is mostly done, but would like to review with @cewing tomorrow.

[2015-05-23 06:12] cguardia commented on #91
It was used, but there was an existing xmodule method that did the same, so using that now. Code removed (fix in ce3833d69af56aa40b69cd2c68f54de9cee2c46f).

[2015-05-23 06:12] cguardia commented on #91
@pdpinch this one is done.

[2015-05-23 22:35] cewing commented on #95
This is done and working.

[2015-05-23 22:35] cewing commented on #95
@pdpinch closing this as it is completed.

[2015-05-23 22:35] #95 closed

[2015-05-23 23:21] cewing commented on #94
All links are now correct @pdpinch.  some views need repair (gradebook in particular, see email).

[2015-05-23 23:21] #94 closed

[2015-05-23 23:22] cewing commented on #93
Enrollment email link is now correct @pdpinch, but student views need fixing (see email) as students are not being seen as registered when they have valid memberships to the CCX

[2015-05-23 23:22] #93 closed

[2015-05-23 23:22] cewing commented on #92
This is now fixed, @pdpinch.

[2015-05-23 23:22] #92 closed

[2015-05-23 23:23] #91 closed

[2015-05-23 23:23] cewing commented on #90
This is now fixed.  Correctly handles both strings and CourseKey subclasses.  Closing as completed, @pdpinch

[2015-05-23 23:23] #90 closed

[2015-05-23 23:24] cewing commented on #88
This is completed, @pdpinch

[2015-05-23 23:24] #88 closed

[2015-05-23 23:27] cewing commented on #89
The sole remaining issue is viewing/downloading the student gradebook.  There appears to be a problem with doing so when viewing a course with a new-style CourseKey id.  I have sent an email to @cpennington and @dormsbee to seek assistance in resolving that problem.

@pdpinch can you answer this question:

Should viewing a ccx coach dashboard view without having an active CCX raise an error, or re

[2015-05-23 23:28] cewing opened #97 "Resolve issue of student views when using CCXLocator urls"
from an email to @cpennington:

In the original version of CCX (and the one currently deployed) we used a threadlocal to store the ID of the ccx a student was viewing.  This meant that the URL they visited to get to any view of the course (for example /courses/<course_id>/info) was the same for the CCX as it was for the course from which the CCX had been made.

What this meant, practically speakin

[2015-05-23 23:30] cewing opened #98 "Fix problems in viewing/downloading gradebook"
from an email to @cpennington and @dormsbee:

After updating all the URLs on the coach dashboard to use the new CCXLocator-based urls, the gradebook no longer works.  Each time we attempt to access a student’s grades using the “student_grades” method from “instructor.offline_gradecalc” we are seeing the traceback I include below.

At first I thought that this was a problem with the change in how w

[2015-05-23 23:31] cewing commented on #98
The traceback in question:

[code]

[2015-05-24 07:24] cguardia commented on #96
As usual, fixing tests is taking a good deal of time. So far, I got them down from 30 to 8 errors and failures. @cewing, the only way I found to be able to get non-deprecated course ids, was to set the MODULESTORE in the test cases. Please take a look.

[2015-05-27 16:40] pdpinch commented on #70
Well, we can't validate this on edge.edx.org at the moment.

[2015-05-27 16:40] #70 closed

[2015-05-27 17:17] pdpinch commented on #89
As discussed a 404 is the appropriate response.

[2015-05-27 17:40] cewing commented on #81
We will fix this by ensuring that only one ccx is returned.

Following discussion with @pdpinch we will mark this fix so that we can eventually allow more than one CCX per coach per course.

[2015-05-27 17:44] pdpinch commented on #98
There was an conversation over e-mail that I will paste in here.

[2015-05-28 02:36] cewing commented on #97
from the email thread:

Looking at get_course_with_access (for instance), I see a couple of places where we probably need to work to avoid issues:
1) The modulestore. Our existing course storage is based purely on the non-CCX key, so we'll need to strip off the CCX-ness of the key before passing to the existing modulestores. My ideal solution here would be to add a wrapper that implements the modu

[2015-05-28 02:38] cewing commented on #98
From the email conversation:

This looked to me like a discrepancy between the DescriptorSystems produced by old-mongo and split-mongo (and possibly between ModuleSystem and DescriptorSystem). So, I poked around, and lo-and-behold:
ModuleSystem sets a `course_id` attribute: https://github.com/edx/edx-platform/blob/master/common/lib/xmodule/xmodule/x_module.py#L1619
The CachingDescriptorSystem for

[2015-05-28 02:57] pdpinch commented on #98
Thanks Cris. I would also note this follow-up from Cale:

On May 27, 2015, at 10:38 PM, Cris Ewing <notifications@github.com> wrote:

[2015-05-29 09:17] cguardia commented on #42
@pdpinch updated PR.

[2015-05-29 18:51] pdpinch commented on #98
I just finished discussing this with @ormsbee

He felt that we should go ahead with the suggestion from @cpennington for now:

But, once the CCX usage keys are in place, we should think about leveraging the more standard grading path in the instructor dashboard, i.e. Instructor > Data Download > Generate Grade report.

I think we avoided that earlier because we didn't want to think about recreatin

[2015-05-30 09:20] cewing commented on #97
@pdpinch, made good progress on this.  Most student views now work.  Some assets go missing due to incorrect urls built from ccx-aware locators.

[2015-06-01 10:20] cewing commented on #97
This is now resolved.  All student views are working correctly.

[2015-06-01 10:20] #97 closed

[2015-06-01 10:33] cewing commented on #89
This has now been implemented.

[2015-06-01 10:33] #89 closed

[2015-06-01 10:35] cewing commented on #98
This is fixed, but the tests for the gradebook are still failing.  We have another issue open (#96) to cover fixing tests, so I will close this.

[2015-06-01 10:35] #98 closed

[2015-06-01 10:44] cewing commented on #81
This is also now fixed.  In the few remaining places where we look up ccx by course and coach rather than by primary key we now get *all* ccxs that match course and coach and return the first one.

I've left a marker in the `lms.djangoapps.ccx.views` module to mark the location where this could be fixed in the future.

[2015-06-01 10:44] #81 closed

[2015-06-01 10:44] cewing commented on #96
We are now down to three failures, all in the grading system.

[2015-06-01 10:52] pdpinch commented on #96
Can you point me to the failing tests, so I can see if edX can help out?

[2015-06-01 10:54] cguardia commented on #96
https://github.com/jazkarta/edx-platform/blob/ccx-custom-ids/lms/djangoapps/ccx/tests/test_views.py#L445

[2015-06-01 10:56] cguardia commented on #96
The overrides in those tests work fine, but we are not getting the correct student grade summary back from the view.

[2015-06-01 10:58] cewing commented on #96
@pdpinch help with this would be very very welcome.

[2015-06-01 19:36] ormsbee commented on #96
What do the grading test failures look like (the `UndefinedContext` stuff was already fixed, right?)

[2015-06-01 20:31] cewing commented on #96
The failures are in data comparison.  There is no exception raised.  We are expecting a certain value, and finding 0 instead.  It appears that student data is not being correctly retrieved.

c

*******************************
Cris Ewing, Developer LLC
cris@crisewing.com
http://crisewing.com
1.206.724.2112

[2015-06-01 20:35] ormsbee commented on #96
Are the tests definitely storing their scores in CSM using the correct course_id?

[2015-06-01 21:05] cewing commented on #96
They are storing the scores by using the course_id for the one course that exists in the tests.

I think what we have here is a situation where the key we have when we look up student results is a `CCXLocator` or a `CCXBlockUsageLocator`, rather than the `CourseLocator` that was used for storing the values.  We are having a hard time digging out the location where that lookup happens.  We have api

[2015-06-01 21:39] ormsbee commented on #96
Okay. So the solution is going to be to change the part that records the scores to use the `CCXLocators`, so that those are what we're storing in CSM, right? The recording of scores happens in `module_render.py` in `handle_grade_event()`, but as long as the XBlock itself is seeing CCX IDs and passing those through, the rest of the system should just use them.

[2015-06-01 21:39] ormsbee commented on #96
I guess I'm concerned if we're doing conversions and and forth in too many places.

[2015-06-01 21:46] cewing commented on #96
Here is the PR that shows the work done to-date in implementing ccx ids.

[2015-06-01 21:49] cewing commented on #96
@ormsbee: I don't know whether updating the storage of grades to use CCX keys or updating the retrieval point to use Course keys is the right way to go.  I'm not even 100% certain that this is the cause of the problem.  All our other problems have been due to this type of conversion, but I'd love to have pointers into the grade retrieval system as well to be able to verify the actual cause of the

[2015-06-01 22:00] ormsbee commented on #96
If the course_id that an XBlock saves state to and emits events with are CCXLocators, the rest should just flow through the rest of the grading system. One of my major hopes is that the grading system machinery as a whole can be insulated from having to know anything about CCX, and the only interaction it would have with it is reading the overridden values for course policy and dates (which are ov

[2015-06-01 22:05] ormsbee commented on #96
Oh, but as far as pointers go, if you're using devstack, go to the database shell and look at courseware_studentmodule:

[code]

4 is the staff user, but whichever user you're testing with. You should also check the `state` field to make sure that's getting put in the right place.

[2015-06-01 22:07] ormsbee commented on #96
In terms of reading the scores back, that happens in grades.py, in `get_score()`

[2015-06-01 23:26] cewing commented on #96
Thanks, @ormsbee, this will help.  If you believe storing the grade information with CCX keys is the way to go, we'll work that direction.

[2015-06-02 23:36] cewing commented on #96
Okay @pdpinch.  There are definitely a couple of things to report here.

@ormsbee, to start with all entries that I see in the `courseware_studentmodule` table in the live database used by my devstack instance are using the CCXLocator form of the course_id, so I think we are good there.  At least for the writing portion we are good to go.

However, when it comes to reading scores here's what I'm s

[2015-06-03 00:17] pdpinch commented on #96
Interesting.

It’s really helpful to know that the progress page works correctly. I believe Dave speculated that we were using a legacy grade export (part of me is worry that it’s been broken).

Before you go exploring too much Cris, I’d be curious to know what you get from a regular grade export, done on the CCX by someone who is set to be an instructor (not just a coach). I.e. go to data downloa

[2015-06-03 00:22] cewing commented on #96
@pdpinch I am working on a local box, so no sandbox.  Sorry :disappointed:.

I have discovered that the instructor views and our views are incompatible in that the instructor views use the CourseEnrollment objects for users to filter to a list of users enrolled in a specific course.  Users are given memebership in a CCX via a different model, and so there are no users listed when I view a standard

[2015-06-03 00:25] cewing commented on #96
Oh, @pdpinch (and @ormsbee), I am also wrong about the different code paths.  Both the existing instructor views and our views go through the same logical path.  I suspect that the reference to `grades.get_scores` above may have been inadvertent.  That method is also not used by the instructor gradebook view.

[2015-06-03 01:05] cewing commented on #96
@ormsbee, in order for me to make any further progress into this, I'm going to need to find out how the `edx-submissions` api is tied into the grading process.  The `module_render.handle_grade_event()` method is clearly writing StudentModule objects to the database with grade records.  That is working, and is writing those records with the correct `CCXLocator` ids in place (and with `CCXBlockUsage

[2015-06-03 02:13] ormsbee commented on #96
@cewing: The grading system uses both the StudentModule and the Submissions API. However, very few things write to the Submissions API at the moment (ORA2 does). A description of the grading process and where the data lives is at:

https://openedx.atlassian.net/wiki/display/TNL/edX+Grading+Guide+for+Developers#edXGradingGuideforDevelopers-TheCurrentApproach

If you haven't seen it before, I would

[2015-06-03 23:34] cewing commented on #96
Thanks for the pointer, @ormsbee, it was quite helpful.

@pdpinch the tests are all fixed.  There is one more error I am seeing that I will track down and fix, and then we should be ready to open a PR for this.

[2015-06-03 23:59] cewing commented on #96
@pdpinch the final error appears, as far as I can tell, to be a non-issue, though I'd appreciate some feedback on that.  I'm opening a new issue for it so we can close this.

[2015-06-03 23:59] #96 closed

[2015-06-04 00:25] cewing opened #100 "Error in ccx for problem with "unsafe code""
@pdpinch This error message appears the the CCX I've built from the example course in my local environment:

[code]

The problem appears to arise from a check in `xmodule.capa_base` in the `CapaMixin` class when a [new `lcp` is created](https://github.com/jazkarta/edx-platform/blob/ccx-custom-ids/common/lib/xmodule/xmodule/capa_base.py#L230) for the object with this mixin.

In the process of creat

[2015-06-04 00:51] pdpinch commented on #100
This sounds like a problem in the courseware. It would help if I knew what the problem was, but I wouldn't be surprised if there were demos of problem types in the demo course which are no longer considered "safe."

In production, I'm pretty sure that 6.002x -- the first course, from before there was even an edX -- has to be in that "COURSES_WITH_UNSAFE_CODE" list.

@cgee do you know anything abou

[2015-06-04 01:02] cewing commented on #100
The problem is the "instructor supplied responses" question in the 'question types' sequence in the "homework" part of the first example module.  It's worth noting that the same problem fails in the same way when viewing the original example course as a rerun.

[2015-06-04 02:02] pdpinch commented on #100
Is this the problem?

https://github.com/edx/edx-demo-course/blob/9aad9f2d084171aec9cc5090dcc95ed70eb9eedf/drafts/problem/d7daeff25e4f4026bdd269ae69e03e02.xml

This is actually from the drafts folder of the demo course. There may be a bug in the re-run code that unintentionally restores items in the drafts folder.

In any case, this doesn't seem to be a problem specific to CCXs.

- Peters

On Jun

[2015-06-04 02:16] cewing commented on #100
That's the one.

Suggestions on how to handle the possible bug?

I can certainly close this.

[2015-06-04 02:16] #100 closed

[2015-06-04 02:47] pdpinch commented on #100
I submitted the bug to edX: https://openedx.atlassian.net/browse/CRI-23

[2015-06-04 02:52] cewing commented on #100
cool

[2015-06-04 03:00] cewing opened #101 "Errors in test_sysadmin related to GIT_REPO_DIR"
In preparing to rebase on current master I've found there are four failures and one error when running `paver test_system -s lms`.  All of the problems are isolated in `lms.djangoapps.dashboard.tests.test_sysadmin:TestSysadmin`.  Furthermore, all of the tests make use of the [test helper method `_add_edx4edx`](https://github.com/jazkarta/edx-platform/blob/ccx-custom-ids/lms/djangoapps/dashboard/te

[2015-06-04 03:45] pdpinch commented on #101
As it happens, this is probably a question for @carsongee

[2015-06-04 14:52] carsongee commented on #101
Does `/edx/var/app/edxapp/course_repos` exist on your box? Or is this happening on jenkins?

[2015-06-04 14:57] carsongee commented on #101
Oh, right tests override that value to be `test_root/course_repos` ( https://github.com/edx/edx-platform/blob/master/lms/envs/test.py ), you may want to check permissions there as it seems like it maybe isn't able to create new directories there.

[2015-06-04 17:26] cewing commented on #101
I am working on a vagrant box that's quite old, so this permission thing seems the most likely.  I'll hunt and fix 'em and then this should be clear for rebase and a PR.

[2015-06-09 10:57] pdpinch commented on #101
These tests appear to be failing on Jenkins too.

[2015-06-09 11:08] pdpinch opened #102 "`CCXLocator cannot be deprecated` error"
I'm getting the following error when I try to create a new course (in studio) in our sandbox:

```InvalidKeyError: <class 'ccx_keys.locator.CCXLocator'>: cannot be deprecated```

This is a new course, in old mongo. I haven't done anything to add a CCX to it.

Full traceback:
[code]

[2015-06-09 12:19] pdpinch opened #103 "`OpaqueKeys are immutable` error"
From https://github.com/edx/edx-platform/pull/8395#issuecomment-110101797 and https://gist.github.com/amir-qayyum-khan/b3ea7a5ac47737fc537c

I was also able to reproduce this in our sandbox when I tried to rerun a old mongo course to get it into split mongo.

[2015-06-09 17:05] cewing commented on #102
Hmmmmm.  It looks like the ccx coach dashboard is showing up there (or at least being rendered).  I did not realize that was a possibility.  The dashboard code on line 34 is predicated on the course being a new-style course.  I'll see what I can do to avoid the problem.

Thanks for the bug report.

[2015-06-09 17:06] cewing commented on #103
I pushed a fix for this yesterday @pdpinch.  Please try it again after updating your sandbox to the latest head of the `ccx-custom-keys` branch.

[2015-06-09 17:12] pdpinch commented on #103
FYI @pwilkins

@bdero can you update the sandbox?

[2015-06-09 18:13] cewing commented on #102
Sorry, that's not the coach dashboard but rather the dashboard display of a CCX.  @pdpinch, the one code path that leads to that template being rendered would indicate that there *is* a ccx in your database that has been created for a course which has an old-style key.

I believe that there is a way to have created a ccx for a course with an old-style key.  And it would appear that having done so

[2015-06-09 19:22] cewing commented on #102
@pdpinch just pushed a fix for this with 268345d2a419a9115bb6e6187acb1ff836ef85f7

Please update and test.  I don't have any ccx memberships created for courses with deprecated ids so I cannot duplicate this locally.

[2015-06-09 19:24] pdpinch commented on #102
Thanks. @bdero can you grab this one to for the sandbox?

@cewing our sandbox is set up so that courses are created first in old mongo. We can then re-run into split. Are you testing with defaulting to split mongo?

[2015-06-09 20:06] cewing commented on #102
No, I have a course that is in old-style format, and when I first started this work, I suspect I saw the same problem because I'd created memberships in a ccx before I had the split version.  When such a membership exists, then the student dashboard will attempt to render the CCX in the dashboard.  That doesn't work when the course is in the deprecated format because attempting to make a URL for t

[2015-06-09 20:09] pdpinch commented on #102
Ok. This is really just because we have a legacy data.

But it is worth fixing, because edge.edx.org will have the same situation.

- Peter

On Jun 9, 2015, at 4:06 PM, Cris Ewing <notifications@github.com> wrote:

[2015-06-09 20:17] cewing commented on #102
yes, absolutely.  I think these fixes will prevent legacy data from becoming a problem, but need verification from you because I have no legacy data on which to test.

[2015-06-09 20:31] pwilkins commented on #102
@cewing I have lots of legacy data in my devstack and I continue to encounter errors using 268345d.

[2015-06-09 20:35] pwilkins commented on #102
Here's a gist of the console output: https://gist.github.com/pwilkins/c03a5307c315ed536b46

[2015-06-09 20:40] cewing commented on #102
hmmm.  It would appear that we cannot update the `usage_id` attribute of `xblock.scope_ids`.

@pwilkins, can you give me exact steps to reproduce this error?  I do have the one edx demo course in my local dev instance that is in the old mongo store.  It would help immensely if I could see these errors first-hand.

[2015-06-09 20:46] pwilkins commented on #102
@cewing I can try.  I have a instructor that has been involved with CCX courses from the start. What I have done is log in as that instructor and attempt to open (in Studio) an edx demo course that is also old. That what generates the console output I shared.
Does that help, or do you need more information?

[2015-06-09 20:53] cewing commented on #102
Let me just be sure I understand completely here.  You are logged in as an instructor for an edx demo course that is old, and simply attempting to view that course is raising these errors?  I will try that here and see if I can duplicate.

[2015-06-09 20:56] pwilkins commented on #102
note that the course appears to be in the split format, though I didn't explicitly make that conversion.

[2015-06-10 02:07] cguardia commented on #42
@pdpinch this was finally merged tonight.

[2015-06-10 19:20] pdpinch opened #104 "Check enable_ccx value before binding module to student"
Per @cpennington

@amir-qayyum-khan this would build on your work on https://github.com/edx/edx-platform/pull/8207

[2015-06-10 19:56] cguardia commented on #42
@pdpinch can we close this now?

[2015-06-10 19:58] pdpinch commented on #42
Awesome, thanks! (I missed the notification)

[2015-06-10 19:58] #42 closed

[2015-06-11 13:35] pdpinch commented on #104
@amir-qayyum-khan here is testing suggestion from @cpennington

If you have any questions you can ask them here or ping me or @bdero

FYI @cewing @cguardia

[2015-06-11 18:49] pdpinch commented on #85
https://github.com/edx/edx-platform/pull/8207 was merged last week.

[2015-06-11 18:49] #85 closed

[2015-06-11 18:52] pdpinch commented on #77
@cewing I wanted to check to see if this will be addressed in https://github.com/edx/edx-platform/pull/8260

[2015-06-11 18:52] pdpinch commented on #43
https://github.com/edx/edx-platform/pull/8260 currently in review

[2015-06-11 18:54] cewing commented on #77
no, but it will be addressed in edx#8395

[2015-06-11 20:03] cewing commented on #104
Looking at this, I'm not sure what good it would do.  The [implementation](https://github.com/edx/edx-platform/blob/master/lms/djangoapps/courseware/field_overrides.py#L78) of` `OverrideFieldData.wrap()` returns the unwrapped field data if there are no provider classes anyway.

I guess what would be better would be to update the `.wrap()` method there to check if any of the globally-enabled field

[2015-06-11 20:12] cpennington commented on #104
Yes, checking course features inside `.wrap()` could work, or passing a filtered list of providers in when wrap is called.

[2015-06-11 20:12] cpennington commented on #104
In `module_render`, we already have the course instantiated, so checking whether a feature is enabled on it or not is relatively cheap, compared to walking the parent tree when looking for any field in the block.

[2015-06-11 22:37] cewing commented on #104
@cpennington: good, so we might update 'wrap' to take the course and then filter the providers in the context of that call.  Or I suppose we could do the filtering outside of the call and then not bother with wrap, but that seems like leaking an implementation detail to me.

[2015-06-12 02:52] pdpinch commented on #104
Looking at https://github.com/edx/edx-platform/pull/8207 you should be able to just test ``course.enable_ccx``

[2015-06-12 10:51] cguardia commented on #104
An initial attempt has been committed to the check-ccx-enabled branch:

https://github.com/jazkarta/edx-platform/commit/92a5909a99c1f2aec8bb56e05d777e3e1a2bbc51

Note that there is a second wrap() call inside module_render.py:

https://github.com/edx/edx-platform/blob/master/lms/djangoapps/courseware/module_render.py#L717

@cpennington said we already have the course instantiated, but I can only s

[2015-06-12 11:01] cguardia commented on #104
Made a WIP PR for easier discussion:

https://github.com/jazkarta/edx-platform/pull/106

[2015-06-12 21:04] cewing commented on #103
Any news on what is causing this?  Or if it has been solved by the work done so far?

[2015-06-12 21:05] cewing commented on #102
I have been unable to reproduce this error locally.  Any news from your end on it?

[2015-06-12 21:05] cewing commented on #101
Fixed.

[2015-06-12 21:05] #101 closed

[2015-06-12 21:06] cewing commented on #77
This is fixed now that edx#8395 is merged.

[2015-06-12 21:06] #77 closed

[2015-06-12 21:07] cewing commented on #43
edx#8395 has been merged and this is now in place.

[2015-06-12 21:07] #43 closed

[2015-06-12 21:09] cewing commented on #66
This should be fixed now.  @pwilkins can you please reverify this issue and close the ticket if it is no longer valid?

[2015-06-12 21:10] cewing commented on #78
Now that the custom opaque-key implementation for ccx is in place, this should be approachable.

[2015-06-17 02:06] pwilkins commented on #66
I tested this today on our sandbox and still have problems.  I enrolled a registered student in a CCX, logged in as the student, and couldn't find the CCX in the student's dashboard.

[2015-06-17 02:38] cewing commented on #66
Is the student you enrolled in the CCX also enrolled in the course from which the CCX was created?  That is a requirement of the system at this time.

[2015-06-18 16:07] pdpinch commented on #102
I can't reproduce this any more, so I'm closing this.

[2015-06-18 16:07] #102 closed

[2015-06-18 16:18] pdpinch commented on #103
confirmed fixed.

[2015-06-18 16:18] #103 closed

[2015-06-18 16:20] pdpinch commented on #104
This was addressed in edx#8519

[2015-06-18 16:20] #104 closed

[2015-06-18 16:22] pdpinch commented on #102
Well, @pwilkins was able to reproduce it, but it was in a disallowed case. This is the error you get if you try to access a CCX attached to an old mongo course, which isn't currently supported.

[2015-06-19 12:18] pdpinch opened #109 "Student enrolled through coach dashboard isn't enrolled"
As a coach, I enroll students through the membership tab of the student dashboard. But when I arrive at the CCX as a student, I still get a banner with the message, "You are not enrolled yet
You are not currently enrolled in this course. Sign up for it here!"

For some CCXs, clicking the link and registering still doesn't get the student enrolled.

I suspect this issue may be addressed by #78 but

[2015-06-19 17:13] cewing commented on #109
@pdpinch: a few questions:

1.  Is this on master?
2.  Is the student enrolled in the CCX also enrolled and has access to the course from which the CCX was created?

[2015-06-19 18:55] cewing commented on #109
@pdpinch:

I've tested this functionality locally using the current master from EdX (and our current Jazkarta master branch).  I am unable to reproduce the trouble you are reporting under the condition that the student enrolled in the CCX is *also* enrolled in the course from which the CCX was made.

If the student is *not* enrolled in the course, then I get exactly the same results you report.

A

[2015-06-19 19:01] cewing commented on #109
@pdpinch with regard to the relationship between this and #78, there is not currently a direct relationship.  However, if/when #78 is resolved by switching away from the separate enrollment system for ccxs and courses, then the `CourseEnrollment.is_enrolled()` method linked above would presumably operate with the CCX id, and then students might not need to be enrolled in the course any longer.  Th

[2015-06-19 19:19] pdpinch commented on #109
Thank you for explaining how enrollment works currently.

I have a few issues with requiring that the CCX student be enrolled in the "master" course.

1. The master course is typically "closed" (past the end date and/or past the enrollment_end date) when the CCX runs.
2. How does the CCX Coach get the student enrolled? (Maybe we can just do that for them?)
3. With the current usage key implementat

[2015-06-26 18:58] pdpinch commented on #80
Dave Ormsbee told us that edX would take care of this change.

[2015-06-26 19:00] pdpinch commented on #79
According to Dave Ormsbee at edX, this was already addressed in https://github.com/edx/edx-platform/pull/8519

[2015-06-26 19:00] #79 closed

[2015-06-29 18:19] cguardia commented on #78
Ok, I will be taking care of this issue. I'm not familiar with it, so first I'll review the code and see what's required.

[2015-06-29 18:24] pdpinch commented on #78
Dave Ormsbee keeps claiming that all we need to do is remove the code for the custom CCX enrollment table.

[2015-06-30 03:11] cguardia commented on #78
Started work on this. After removing membership models, there are a bunch of tests that need fixing, so I'm doing that now.

[2015-07-02 02:52] pdpinch commented on #80
After more discussion, Dave has asked us to take a first pass on this.

[2015-07-03 04:05] cguardia commented on #80
The task looks to be pretty well defined, thanks. I will do this, most likely at the beginning of next week.

[2015-07-03 04:10] cguardia commented on #78
In addition to the tests, I've been having to rewire functionality from the enrollment pages that required queries to the ccx membership tables. So it was not just a matter of removing the models, because they power up the whole membership tab and some other places, like the list of currently subscribed ccx courses. I have not finished test fixing either, so I will be working on this for at least

[2015-07-08 03:54] bdero commented on #78
@cguardia Let me know when this is ready for @pwilkins and I to test on a sandbox and we'll give it a spin.

[2015-07-08 03:57] cguardia commented on #78
I'm running a bit behind, but shooting for Thursday morning.

[2015-07-09 09:08] cguardia commented on #78
I still have more work to do here, plus #80. Will keep you posted.

[2015-07-13 11:20] cguardia commented on #78
Sorry that this has taken me more time than expected. I had a meeting with @cewing late last week and that helped me get unstuck. I have pushed my progress to this branch:

https://github.com/jazkarta/edx-platform/tree/remove-ccx-enrollment

There is only one failing ccx test at this point. I will keep working on this today, but I think it can be tested now.

[2015-07-14 05:06] cguardia commented on #78
All tests are passing now. This is definitely ready for testing. I'll work on #80 while you try it out.

[2015-07-14 14:32] pdpinch commented on #78
Thanks Carlos. We are reviewing this now on sandbox2o.mitx.mit.edu

[2015-07-14 15:23] bryanlandia opened #114 "Learning Paths: Change the text of the start button label"
change it to "Go to this course"

From Kate @ Story+Structure: ** Since we can't change the state of the button I would agree with Janine and say "Go to this course"
It works as an initiator and a continuation CTA

[2015-07-14 15:25] bryanlandia opened #115 "Learning Paths: Start/'Go to this course' just shows an error message via AJAX if student already enrolled in course"
from Janine:  "If I go to the Learning Paths page and click on a course, then the Start button, I see message in the upper left stating the Student is already enrolled. Should the start button launch >the course? If the goal is for it to launch the learning path, then the Start button is not in an intuitive location. It should be next to "Courses in this Learning Path"

[2015-07-14 15:53] pdpinch commented on #78
Carlos, we're getting an error on creating CCXs -- although we're running off yestersday's version of your branch. Do you think a pull and re-deploy will fix this?

https://gist.github.com/bdero/d63c3c0cc393bd26e9b0

[2015-07-14 16:05] cewing commented on #78
Looks to me like a typo in the `create_course` view:

https://gist.github.com/bdero/d63c3c0cc393bd26e9b0#file-ccx_traceback-L11

The comma in the `kwargs` argument should be a colon.

[2015-07-14 16:47] bryanlandia opened #116 "Learning Path: va.learning.intersystems.com home page should only display one active learning path"
Only show one Learning Path "Build a Mobile Application with Interoperable Healthcare APIs", linked to /learning-path

[2015-07-14 17:04] bryanlandia opened #117 "Learning Paths: switch course one and two in learning path order"
Janine: "Course one and two need to be switched. I don't know if that matters at this time, but it will when it goes to the real server, since the courses are hard-coded."

[2015-07-14 19:20] #114 closed

[2015-07-14 19:20] #116 closed

[2015-07-14 19:20] #117 closed

[2015-07-14 20:08] cguardia commented on #78
Yes, @cewing is right. Fixed the typo. The reason I didn't get that on my testing is that this url is only used when trying to create a ccx from a course with a deprected id, which is not allowed.

[2015-07-15 00:28] pdpinch commented on #78
With a completely new student, I'm getting duplicate enrollments in my course dashboard -- although they both lead to the same URL (https://sandbox2o.mitx.mit.edu/courses/ccx-v1:ODLEng+DemoX+2015_T2+ccx@37/info) ??

<img width="879" alt="screen shot 2015-07-14 at 8 25 04 pm" src="https://cloud.githubusercontent.com/assets/430126/8688166/9294e1c0-2a66-11e5-8a17-5f3e02581b1e.png">

Is this because w

[2015-07-15 18:09] cguardia commented on #78
I think we could probably remove our custom list from the dashboard. What do you think @cewing?

[2015-07-15 18:30] cewing commented on #78
@cguardia, @pwilkins  I do not know that we can yet.  If we do, we'll need to figure out how to fork the display logic for a given "course" based on whether it's a CCX or a regular course.  CCXs do not support the same exact API that a course does (yet).

I think what's likely happening here is that there is a single enrollment only for a CCX.  That enrollment is being found once by the list of CC

[2015-07-15 19:26] pdpinch commented on #78
That seems like a likely explanation, as you see in the screenshot there's different titles and start dates, but the same links.

[2015-07-16 17:45] jetej commented on #78
Enrolling a student with the "Student List Management" works but "revoking access" does not.  At the moment, it is only possible to unenroll a student using "Batch Enrollment".  In addition, after the student is unenrolled, the student still appears in "Student List Management" despite having no access to the CCX.

[2015-07-16 18:10] jetej commented on #109
When I tested it for @pdpinch , I found that if the student is unenrolled from the course on which the CCX was based, the student is also unenrolled from the CCX.
I also noticed that the student of the CCX doesn't have the option to unenroll him/herself from the CCX via the dashboard.  I'm not sure if this was intentional or not.

[2015-07-16 18:19] jetej commented on #83
I've noticed that once the CCX Coach has the CCX set up and with a student enrolled, he can unenroll himself from the master course on which the CCX was based.  This didn't seem to affect much of the Coach account capabilities with the CCX.  I was still able to modify the "Schedule" in the "CCX Coach Dashboard" and see the changes through a student account.  As expected, the Coach no longer had ac

[2015-07-16 18:21] jetej commented on #83
By the way, the above was tested on sandbox2o.mitx.mit.edu

[2015-07-16 21:55] cguardia commented on #78
For the dashboard, am I correct that students are never supposed to join both the regular course and the CCX at the same time? If that's the case, should we look into modifying the main dashboard to show the CCX info instead when the user is actually enrolled in that?

[2015-07-16 22:07] cewing commented on #78
I'm not sure that's a safe assumption, though obviously @pdpinch would know better.

I **do** think that if we've retrieved the enrollment object using a CCXLocator rather than a CourseID object, we should be able to assert that we want to see the CCX data.

[2015-07-16 22:52] pdpinch commented on #78
Assuming the student shouldn't enroll in the master course is an acceptable compromise, BUT I would prefer a solution that allows the student to enroll in the CCX without an enrollment in the master course. Is that feasible?

In other words, I can live with hiding the incidental enrollment, but I'd rather not require it at all.

----------------
I am mobile.

[2015-07-17 17:01] pdpinch commented on #78
In further testing, I've confirmed that my CCX student, when enrolled in the CCX is not enrolled in the master course. This is a good thing, but it makes the duplicate in the student dashboard all the more puzzling.

[2015-07-17 17:09] cguardia commented on #78
In that case, I propose to remove our list of courses form the dashboard, then change the original dashboard to check for a ccx for each course and use its information if found. We can do this on the same branch that we are working on, and see how it goes.

[2015-07-17 17:11] cewing commented on #78
@pdpinch I actually don't think it's completely surprising.  But it is troubling.  Here's what I believe is happening.

The list of 'courses' in which a student is enrolled is arrived at by selecting records from the enrollment table, and then looking up the courses by 'course id'.  Because the CCXLocator (which is the custom version of a course id for a ccx) is "unwrapped" on the way through the

[2015-07-17 17:15] pdpinch commented on #78
Ok. This makes sense to me now, and I agree with the solution.

I presume the conditional in the dashboard listing template will be keyed off the use of a CCXLocator instead of a CourseLocator? When there is a CCXLocator, we want to be sure to display the overridden course name and start dates (as we do currently in the "secondary listing of CCXs").

[2015-07-17 17:29] cguardia commented on #78
My plan is, for each course, we will check if the course_id is a CCXLocator. If it is, we will use the CCX data, if not we'll simply use the old display code to show the course info.

[2015-07-17 18:01] cewing commented on #78
This is sensible.  There is an alternate template used by our listing that should be used an example of how to display the CCX information.  It skips a great deal of the display options for the standard course because those options don't make sense for a CCX

[2015-07-18 17:30] cguardia commented on #78
I did the dashboard change and pushed into this same remove-ccx-enrollment branch. It seems to work OK.

[2015-07-18 21:18] pdpinch commented on #78
Great! I think this is ready to be PRed to edX.

----------------
I am mobile.

[2015-07-21 06:55] cguardia commented on #78
@pdpinch PR was just made. It took a bit longer than expected because it turns out edx very recently refactored the dashboard code and I had to make sure what we did worked under the new structure.

[2015-07-21 06:55] cguardia commented on #78
https://github.com/edx/edx-platform/pull/8986

[2015-07-27 15:20] pwilkins commented on #78
I'm encountering the same issue that @jetej reported above.  Revoking access in CCX doesn't remove the student from the ``Student List Management`` control even though the student can no longer view the CCX in their dashboard.

[2015-07-27 15:41] pwilkins opened #119 "CCX: unenrolled students still appear in Student List Management control"
When I unenroll or revoke access for a user in the CCX Enrollment tab, the user's name remains in the Student List Management control even though the CCX is no longer available in the user's dashboard.

1. As Coach revoke access of a CCX student.
2. Verify that the student's name remains listed as an enrolled student.
3. As the student, verify that the CCX is no longer in your Dashboard.

[2015-07-27 20:41] jetej commented on #83
This may no longer be relevant because due to https://github.com/jazkarta/edx-platform/issues/78 the student no longer sees both the CCX and the master course in his/her "Dashboard"

[2015-07-28 19:56] jetej opened #120 "Selecting time in CCX Coach Dashboard"
I've noticed that you cannot select the times for 'start date' or 'end date'. Therefore, you cannot properly add content via the 'Schedule' tab in the 'CCX Coach Dashboard'

At the moment, you can only select start and end date/time after you add the content.

This was tested on sandbox2o.

![screen shot 2015-07-28 at 3 35 47 pm](https://cloud.githubusercontent.com/assets/8117756/8942001/1505d9d6-

[2015-07-28 20:18] pwilkins commented on #120
This issue https://github.com/jazkarta/edx-platform/issues/64 was previously reported and "fixed".  It worked until the recent accessibility update to date/time widgets.

[2015-07-29 03:24] cguardia commented on #78
@pdpinch I added a data migration, rebased and have all tests passing. Should I continue fixing issues like the one above as part of this PR?

[2015-07-29 07:53] cguardia commented on #80
@pdpinch Made PR https://github.com/edx/edx-platform/pull/9109.

[2015-07-29 10:23] pdpinch commented on #120
@amir-qayyum-khan can you look into this?

[2015-07-29 10:25] amir-qayyum-khan commented on #120
yes sure @pdpinch

[2015-07-29 12:57] pdpinch commented on #78
We opened a new issue for this (#119) and it doesn't seem to me to be a blocker, so I'd like to handle it in another PR.

[2015-07-29 15:35] jetej commented on #120
In addition, I found that two overlapping calendars will appear if the user clicks on the black arrow pointing down in the text field for "Start Date" or "Due Date".

Also tested on sandbox2o.

![screen shot 2015-07-29 at 11 29 37 am](https://cloud.githubusercontent.com/assets/8117756/8961850/9496348a-35e5-11e5-938a-94b12e6f0591.png)

[2015-07-29 15:39] jetej opened #121 "CCX: Overlapping Calendars in CCX Coach/Schedule"
This regards the schedule interface on the CCX Coach Dashboard.

I found that two overlapping calendars will appear if the user clicks on the black arrow pointing down in the text field for "Start Date" or "Due Date".  Both calendars are functional and properly enter selected dates into the text field.

This was tested on sandbox2o.

![screen shot 2015-07-29 at 11 29 37 am](https://cloud.githubuse

[2015-07-29 15:42] jetej commented on #120
Possibly related issue regarding the drop down calendar for "Start Date" and "Due Date" https://github.com/jazkarta/edx-platform/issues/121

[2015-07-29 18:47] jetej commented on #119
As mentioned in https://github.com/jazkarta/edx-platform/issues/78#issuecomment-122032690.

[2015-07-29 18:51] jetej commented on #66
I think this may be fixed by https://github.com/jazkarta/edx-platform/issues/78. Now, only the CCX appears on the student's "Dashboard".

[2015-07-30 07:40] amir-qayyum-khan commented on #121
already fixed in https://github.com/edx/edx-platform/pull/9114

[2015-07-31 17:41] jetej commented on #119
I saw this issue again on today's deploy on sandbox2o.  I attempt to revoke access using "Student List Management" but the student still has access to the CCX and the student is still listed.

[2015-07-31 20:27] cguardia opened #122 "Move CCXLocator checks out of CourseOverview model"
For the remove CCXMembership pull request (https://github.com/edx/edx-platform/pull/8986), we moved CCX key checks out of the templates to avoid having them anywhere. The way we did that was to modify the CourseOverview model to make that check only once.

https://github.com/jazkarta/edx-platform/blob/remove-ccx-enrollment/openedx/core/djangoapps/content/course_overviews/models.py#L108

However, t

[2015-07-31 20:51] cguardia commented on #122
@pdpinch created this issue for future refactoring of CCX key checks, as requested by Dave.

[2015-08-03 15:26] jetej commented on #119
Today's deploy on sandbox2o fixed a few issues. The CCX coach can now "add students" and "revoke access" using "Student List Management".  Unenrolled students appear in "Student List Management".
https://github.com/edx/edx-platform/pull/8986

[2015-08-03 15:53] jetej opened #123 "CCX coach cannot access the "CCX Coach" tab when viewing the gradebook"
Tested on sandbox2o.mitx.mit.edu

I have noticed when the CCX coach navigates to the gradebook using CCX Coach/Student Admin/View gradebook, they cannot easily return to the "CCX Coach" tab.  When the user is at the gradebook page only the "Course Info" tab is visible. If he clicks on "Course Info" it will say that he is not enrolled yet and will provide a link to sign up.  That link leads to a "P

[2015-08-03 16:04] pdpinch commented on #123
I believe this is because the coach isn't enrolled in the CCX by default. @jetej can you confirm that this behavior changes if the coach is enrolled in the CCX by name?

[2015-08-03 16:11] jetej commented on #123
Yes, when the CCX coach enrolls himself in his CCX he can see the other tabs.  This may be a bit confusing if the CCX coach tries this because he will see both the CCX and master course in his dashboard.

![screen shot 2015-08-03 at 12 10 39 pm](https://cloud.githubusercontent.com/assets/8117756/9041867/b3f5f260-39d8-11e5-8886-175ad202f6a7.png)

![screen shot 2015-08-03 at 12 08 52 pm](https://clo

[2015-08-03 16:11] #123 closed

[2015-08-03 16:48] jetej commented on #121
Issue already exists at https://github.com/jazkarta/edx-platform/issues/63.

[2015-08-03 16:48] #121 closed

[2015-08-03 20:16] jetej opened #124 "Inaccurate courseware if CCX Coach enrolls instructor of master course"
Tested on sandbox2o.mitx.mit.edu

This case is a bit odd.  For some reason if the CCX coach happens to enroll the instructor of the master course in the CCX, the courseware is not accurate.  The instructor can access the CCX from his dashboard as an individual course (as any other CCX student would).  However the courseware is identical to that of the master course and not the specified schedule a

[2015-08-04 14:59] jetej opened #125 "CCX: Conflicting start and end dates do not show an error"
Tested on sandbox2o.

I noticed that conflicting start and end dates do not provide an error message and can go unnoticed.

![screen shot 2015-08-04 at 10 47 41 am](https://cloud.githubusercontent.com/assets/8117756/9063908/e22e7020-3a97-11e5-81a4-11945fa7ee52.png)

[2015-08-13 12:18] pdpinch commented on #78
Closed via 34526ddf6a0be6585715c058025b86ea93e8a57e

[2015-08-13 12:18] #78 closed

[2015-08-13 14:51] jetej commented on #83
@pdpinch I believe this ticket can be closed now.

[2015-08-13 14:59] jetej commented on #82
@pdpinch This ticket seems to have been resolved. Tested on https://edge.edx.org.

Master course:
![screen shot 2015-08-13 at 10 55 38 am](https://cloud.githubusercontent.com/assets/8117756/9253102/09b72e70-41aa-11e5-83db-55f378867029.png)

CCX:
![screen shot 2015-08-13 at 10 55 49 am](https://cloud.githubusercontent.com/assets/8117756/9253119/24b6a11a-41aa-11e5-895e-4370680c8612.png)

[2015-08-13 15:02] jetej commented on #66
This seems to work fine on https://edge.edx.org.  @pdpinch, I believe this ticket can be closed.

[2015-08-13 15:11] #66 closed

[2015-08-13 15:11] #82 closed

[2015-08-13 15:12] jetej commented on #109
Currently on edge.edx.org, CCX students can be enrolled and unenrolled using "Batch Enrollment" and "Student List Management".  However, when students are unenrolled using "Batch Enrollment" or "Student List Management", the list in "Student List Management" will not display the latest changes.
https://github.com/edx/edx-platform/pull/8986#issuecomment-127276550

[2015-08-13 15:18] jetej commented on #33
I believe this may be related to https://github.com/jazkarta/edx-platform/issues/124.

[2015-08-13 15:24] jetej commented on #109
Currently on edge.edx.org, CCX students can be enrolled and unenrolled using "Batch Enrollment" and "Student List Management".  However, when students are unenrolled using "Batch Enrollment" or "Student List Management", the list in "Student List Management" will not display the latest changes.
https://github.com/edx/edx-platform/pull/8986#issuecomment-127276550

@pdpinch There is a separate ticke

[2015-08-13 16:04] jetej commented on #15
I had seen similar results with the gradebook link on the Student Admin tab. The CCX coach needs to be enrolled in his own CCX.  He is not enrolled in his own CCX by default.  https://github.com/jazkarta/edx-platform/issues/123

[2015-08-14 14:26] #109 closed

[2015-08-14 14:30] pdpinch commented on #63
This should be fixed with the next edX release, which will include edx/edx-platform#9114

[2015-08-14 20:16] pdpinch commented on #15
moved to https://github.com/mitocw/edx-platform/issues/58

[2015-08-14 20:16] #15 closed

[2015-08-17 07:42] amir-qayyum-khan commented on #63
fixed this in #9114

[2015-08-18 00:48] pdpinch opened #126 "CCX crashes mobile api"
If you call the mobile api with a URL like /api/mobile/v0.5/users/clee/course_status_info/ccx-block-v1:edX+CCX100-RERUN+RERUN+ccx@14+type@sequential+block@simulations

It will cause a [stack trace like this gist](https://gist.github.com/pdpinch/e05fcf5fa119a400209c).

In this example, and is enrolled in the ccx course by clee

[2015-08-18 19:03] pdpinch commented on #126
I updated the issue description with some more detail about the circumstances that caused the stack trace.

[2015-08-18 19:19] cewing commented on #126
It would appear from the gist that the problem is that the API view is making the assumption that all the course_ids it gets will be CourseLocators, which means that it cannot handle locators for our custom keys.  The code [here](https://github.com/edx/edx-platform/blob/master/openedx/core/lib/api/view_utils.py#L98) needs to be made robust to creating keys of any kind from the incoming `course_id`

[2015-08-19 14:37] BenjiLee commented on #126
@cewing Is there an example of a more robust custom key locator? Seems like we may be making this assumption in multiple places.

[2015-08-19 15:58] cpennington commented on #126
`CourseKey.from_string` is the correct way to parse an `OpaqueKey`. Is it possible that the ccx key package isn't installed?

[2015-08-19 17:10] cewing commented on #126
that would certainly explain it.  Sorry for the red herring.  Since it requires the entry point registered in ccx-keys in order to pick up the `ccx-block-v1` key type that package being missing would potentially explain the issue.  Is the API installed in a different virtualenv than the rest of the software?  Did we miss adding the ccx-keys package to a requirements.txt file?

[2015-08-19 17:43] BenjiLee commented on #126
The mobile API is an django app in the edx-platform repository so it should have access to that library.

[2015-08-19 17:50] cpennington commented on #126
The other thing that @ormsbee pointed out is that `ccx-block-v1:` is a `UsageKey`, not a `CourseKey`. So, that's the immediate cause of the parse failure.

@BenjiLee tried to use a course-key (`ccx-v1`) instead, but ran into a different error. @BenjiLee, can you post that stack trace? Separately, there's the question of what client is sending a `UsageKey` to that url, which expects a `CourseKey`.

[2015-08-19 18:17] BenjiLee commented on #126
@cpennington `ccx-v1` did work (I forgot to put "courses" in courses.edx.stage).

[2015-08-19 18:29] BenjiLee commented on #126
I believe the client passes the the course_id that we get from the enrollment api
https://github.com/edx/edx-platform/blob/master/common/djangoapps/enrollment/serializers.py#L51

Update: Looks like the enrollment API is returning the correct course_id. Looking at the client code now.

[2015-08-19 19:47] BenjiLee commented on #126
Figured it out. The android app was passing in a module_id for a course_id and vice versa. Everything seemed to have worked on the surface but last accessed feature was actually broken. Thanks all.

[2015-08-21 13:33] #126 closed, assigned to nobody

[2015-08-21 19:36] pdpinch commented on #80
Closed by https://github.com/edx/edx-platform/issues/9109

[2015-08-21 19:36] #80 closed

[2015-08-21 19:40] pdpinch commented on #63
Closed via https://github.com/edx/edx-platform/issues/9114

[2015-08-21 19:40] #63 closed

[2015-09-22 12:53] pdpinch commented on #119
closed via edx#9335

[2015-09-22 12:53] #119 closed

[2015-09-22 12:54] pdpinch commented on #5
closed via edx#9335

[2015-09-22 12:54] #5 closed

[2015-10-05 02:02] #120 closed

[2015-10-27 16:48] pdpinch commented on #83
Closed via edx#9986

[2015-10-27 16:48] #83 closed